
.ui-dialog .ui-dialog-content {
    position: static;
    font-size: 14px;
}

.ui-tooltip {
    /*
    background-color: #051921;
    opacity: 0.3;
    */
    border: none;
    padding: 0;
    box-shadow: 0 0 10px 2px #FFF;
}

.ui-tooltip-arrow {
    display: none;
}

.ui-widget-content {
    background: none;
    padding: 0;
}

.ui-dialog.ui-widget-content {
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.ui-tooltip-content {
    border-radius: 5px;
    padding: 8px 20px 11px;
    border: none;
  /*  font-family: Segoe_UI;*/
    font-size: 15px;
    color: #fff;
    position: relative;
    z-index: 9999;
}

.ui-tooltip.tTooltip .ui-tooltip-content {
    font-size: 20px;
    text-align: center;
}

.ui-tooltip-bg {
    background-color: #051921;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 4px;
}

.ui-tooltip.male .ui-tooltip-arrow {
    display: block;
    background: url(/img/icons.png) -222px -22px no-repeat;
    height: 20px;
    width: 24px;
    position: absolute;
    margin: -1px auto;
    left: 37%;
    z-index: 1000000000;
}

.ui-tooltip.female .ui-tooltip-arrow {
    display: block;
    background: url(/img/icons.png) -239px -22px no-repeat;
    height: 20px;
    width: 24px;
    position: absolute;
    margin: -1px auto;
    left: 37%;
    z-index: 1000000000;
}

.ui-tooltip {
    z-index: 102;
}

.ui-tooltip.tToolTip {
    z-index: 98;
}

.ui-dialog-titlebar {
    padding: 13px 10px;
    font-size: 16px;
    background: #FDFDFD;
    color: #8798A4;
    border: none;
    border-radius: 0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.9em 0.9em;
    position: relative;
    cursor: default;
}

.ui-dialog-titlebar .ico-close {
    margin-left: 18px;
    float: right;
}

.ui-dialog .ui-widget-content {
    background: #FFF;
    border-top: 1px solid #C4DDEB;
    color: #697882;
    overflow-y: auto;
}

.ui-dialog.sd-box .ui-widget-content {
    background: none;
    border-radius: 7px;
}

.ui-dialog .ui-dialog-buttonpane {
    background: url(/img/content/buttonpane.png) 0 0 repeat-x;
    margin-top: 0;
    padding: 0;
    height: 41px;
}

.ui-dialog .ui-dialog-buttonpane a, .btn {
    color: #5081a2;
    text-decoration: none;
    /*  display: block;*/
    float: left;
    min-width: 130px;
    text-align: center;
    border: 2px solid #59ccff;
    border-radius: 5px;
    height: 22px;
    padding-top: 3px;
    font-size: 13px;
    margin-top: 5px;
    margin-right: 5px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    margin-right: 10px;
    margin-top: 4px;
}

.ui-dialog .ui-dialog-buttonpane a:last-child, .btn {
    background: #bdebff;
}

.ui-dialog .ui-dialog-buttonpane a:last-child:hover, .btn:active {
    background: #eaf7fd;
}

.ui-dialog .ui-dialog-buttonpane a:last-child:active, .btn:active {
    background: #2496dd;
}

.ui-dialog .ui-dialog-buttonpane a:first-child {
    background: #def5ff;
    border-color: #59ccff;
}

.ui-dialog .ui-dialog-buttonpane a:first-child:hover {
    background: #ffffff;
    border-color: #29ace6;
}

.ui-dialog .ui-dialog-buttonpane a:first-child:active {
    background: #2a9ce1;
    border-color: #59ccff
}

.ui-dialog {
}

.male.ui-menu .ui-menu-item {
    font-size: 15px;
    background-color: #86C7E9;
    text-align: center;
}

.female.ui-menu .ui-menu-item {
    font-size: 15px;
    background-color: #c5cae0;
    text-align: center;
}

.ui-menu .ui-menu-item .ui-item-content {
    font-size: 11px;
}

.ui-menu .ui-menu-item .ui-item-header {
    display: block;
    margin-bottom: -7px;
}

.ui-menu-item .ui-state-focus {
    border: none;
    background: none;
    color: #333;
    /* color: #C77405; */
}

.ui-menu .ui-menu-item a.ui-state-focus {
    box-shadow: 1px 1px 4px 0px #86C7E9;
    border: 1px solid #272F33;
    margin-bottom: 2px;
}

.ui-autocomplete {
    height: 208px;
    overflow: hidden;
}

.ui-widget-overlay {
    z-index: 100;
    opacity: 0.78;
}

.ui-dialog-titlebar .ico-close {
    margin-left: 18px;
    float: right;
    margin-top: 3px;
}

.ui-dialog .ui-dialog-buttonpane {
    background-color: #69A9D2;
    height: 48px;
}

.ui-button-text-only .ui-button-text {
    padding: .0em 1em;
    font-family: segoe_uisemibold;
}

body .ui-tooltip {
    border-width: 2px;
    color: #EDF8FF;
    background: rgba(84, 117, 134, 0.9);
    font-family: 'segoe_uiregular';
    max-width: 240px;
    font-size: 15px;
}

.ui-widget-overlay {
    background: #666 url(/images/dialog-bg.png);
}

/* jscroll */
.jspVerticalBar {
    width: 6px;
}

.jspDrag {
    background: #A3D1EC;
    width: 4px;
    margin-left: 1px;
}

.jspTrack {
    background: #e2f0f8;
}

.jspDrag {
    background: #a3d1ec;
}

.ui-state-disabled {
    opacity: .35 !important;
    filter: Alpha(Opacity=35) !important;
    /* background-image: none; */
}