a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var, menu {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

textarea, input, .selectable {
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    -webkit-user-drag: auto;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: auto;
    user-select: auto;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

input[type=text], textarea {
    outline: none;
    border-radius: 0;
}


#profile .jq-selectbox__select-text {
    padding: 9px;
}
#profile .jq-selectbox ul li {width: 284px;}

#profile .jq-selectbox__select {
    background: url(/images/i5.png);
    width: 251px;
    height: 48px;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}
#profile .male .jq-selectbox__select {background-position: -346px -3px;}
#profile .male .jq-selectbox__select:hover {background-position: -346px -55px;}
#profile .male .jq-selectbox__select:active,
#profile .male .jq-selectbox.jqselect.opened .jq-selectbox__select
{background: url(/images/i5.png);background-position: -346px -107px;}

#profile .female .jq-selectbox__select {background-position: -346px -2px;}
#profile .jq-selectbox__dropdown {margin-top: 16px;}

#profile .jq-selectbox__trigger {border-left: none !important;width: 65px !important;}
#profile .jq-selectbox__trigger-arrow {display: none;}

.select2-container {
    background: url(/images/i5.png);
    width: 307px;
    height: 48px;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    background-position: -346px -3px;
}
.select2-container:hover {background-position: -346px -55px;}
.select2-container:active {bbackground-position: -346px -107px;}
.select2-arrow {display: none !important;}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 65px !important;
    height: 35px !important;
    padding: 13px !important;
    text-decoration: none !important;
    text-align: center;
}
.select2-container.select2-container-active .select2-choice > .select2-chosen {
}