/* Fonts ======================================================== */
@import "/fonts/webfontkit-20140522-165622/stylesheet.css";
@import "/fonts/webfontkit-20140523-052410/stylesheet.css";
@import "/fonts/webfontkit-20140523-072244/stylesheet.css";
@import "/fonts/webfontkit-20140523-072549/stylesheet.css";
@import "/fonts/webfontkit-20140802-093128/stylesheet.css";
/* Styles ======================================================== */
@import "./shake.css";
@import "./transitions.css";
@import "./jquery-ui-1.10.4.custom.css";
@import "./jquery.formstyler.css";
@import "./jquery.jscrollpane.css";
@import "./mosaic.css";
@import "./select2.css";
@import "./reset.css";
@import "./reset-ui.css";

article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline
}

/* Global properties ======================================================== */

html, body {
    height: 750px;
    width: 1000px;
    margin: 0 auto;
    background: #CFE7F5;
}

* {
    font-family: 'segoe_uiregular';
}

#wrapper {
    width: 100%;
    height: 100%;
    background: #cfe7f5;
    min-height: 705px;
    max-height: 744px;
    overflow: hidden;
}

.male * {
    color: #2d5577;
}

.female * {
    color: #875162;
}

.flash-error {
    background: #E74551;
}

.flash-success {
    background: #1bcfa2;
}

.flash {
    padding: 6px 4px;

}

.flash p {
    border: 2px solid #FFF;
    padding: 7px;
    border-radius: 3px;
}

.flash p {
    border: 2px solid #FFF;
    padding: 7px;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
}

.disconnected .connecting {
    display: block;
}

.connecting {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(38, 34, 34, 0.7);
}

.connecting_process {
    background: url(/images/i6.png);
    width: 78px;
    height: 79px;
    position: absolute;
    left: 50%;
    top: 7%;
    bottom: 36px;
    margin-left: -39px;
}

.connecting p {
    position: absolute;
    bottom: 23px;
    text-align: center;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 13px;
}

.cloud1 {
    background: url(/images/i6.png) -88px -9px;
    height: 13px;
    width: 28px;
    position: absolute;
    top: 21px;
    left: 51px;
}

.cloud2 {
    background: url(/images/i6.png) -88px -26px;
    height: 20px;
    width: 28px;
    position: absolute;
    top: 43px;
}

/*----------------------> Links And buttons <------------------*/
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn3 {
    background: url('/images/btn3.png') 0px -7px;
    padding: 6px 29px 9px;
    font-size: 13px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border-left: 1px solid #73B1D5;
    border-right: 1px solid #73B1D5;
    font-weight: bold;
}

.btn3:hover {
    text-decoration: none;
    background-position: 0px -42px;
    border-left: 1px solid #6dbee2;
    border-right: 1px solid #6dbee2;
}

.btn3:active {
    background-position: 0px -76px;
    border-left: 1px solid #89bedd;
    border-right: 1px solid #89bedd;
}

/*----------------------> Basic Classes <------------------*/
.ico,
.ico:before {
    background: url(/images/i.png);
}

.reg {
    text-transform: uppercase
}

.f_left {
    float: left
}

.f_right {
    float: right
}

.f_none {
    float: right
}

.al_right {
    text-align: right
}

.al_center {
    text-align: center
}

.al_left {
    text-align: left;
}

.val_mid {
    display: table-cell;
    vertical-align: middle;
}

.full_s {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.val_mid:after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
    content: "";
}

.va_mid {
    vertical-align: middle;
}

.it {
    font-style: italic
}

.let {
    letter-spacing: -1px
}

.font_11 {
    font-size: 11px;
    line-height: 14px;
}

.font_10 {
    font-size: 10px;
}

.font_12 {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

.font_12_1 {
    font-size: 12px;
    line-height: 16px;
}

.font_12_2 {
    font-size: 12px;
}

.font_13 {
    font-size: 13px;
    line-height: 18px;
}

.font_14 {
    font-size: 14px;
    line-height: 22px;
}

.font_14_1 {
    font-size: 14px;
    line-height: 18px;
}

.font_14_2 {
    font-size: 14px;
    line-height: 20px;
}

.font_16 {
    font-size: 16px;
    line-height: 26px;
}

.font_18 {
    font-size: 18px;
}

.font_40 {
    font-size: 40px;
}

.font_17 {
    font-size: 17px;
}

.font_18 {
    font-size: 18px;
}

.font_19 {
    font-size: 19px;
}

.font_22 {
    font-size: 22px;
}

.radius_1 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.radius_2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.radius_3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.radius_4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.radius_5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.radius_200 {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
}

.circle,
.circle img {
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.circle:after {
    display: none !important;
}

.txt1 {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.35),
    2px -1px 1px rgba(255, 255, 255, 0.35),
    -2px 3px 1px rgba(255, 255, 255, 0.35),
    -2px -2px 1px rgba(255, 255, 255, 0.35);
}

.z_6 {
    z-index: 6;
}

.z_7 {
    z-index: 7;
}

.z_8 {
    z-index: 8;
}

.z_9 {
    z-index: 9;
}

.z_10 {
    z-index: 10;
}

.z_11 {
    z-index: 11;
}

.p_top10 {
    padding-top: 10px;
}

.p_top5 {
    padding-top: 2px;
}

.p_top2 {
    padding-top: 5px;
}

.ml_17 {
    margin-left: 17px;
}

.mb_3 {
    margin-bottom: 4px;
}

.ml_5 {
    margin-left: 5px;
}

.m_r_1 {
    margin: 0 1px 0 0;
}

.m_12_17 {
    margin: 10px 17px;
}

.m_14_10 {
    margin: 14px 10px;
}

.m_12_5 {
    margin: 12px 5px;
}

.m_7_5 {
    margin: 5px 7px;
}

.m_22_-22 {
    margin: -22px 0 0 20px;
}

.m_22 {
    margin: 22px 0 0 24px;
}

.m_10_21 {
    margin: 10px 0 0 21px;
}

.w_100 {
    width: 100px;
}

.w_full {
    width: 100%;
}

.ff_ssb {
    font-family: 'segoe_uisemibold';
    font-weight: bold;
}

.ff_sr {
    font-family: 'segoe_uiregular';
}

.ff_ese {
    font-family: 'sd_eurostile_elite_demoRg';
}

.f_bold {
    font-weight: bold;
}

.cur_p {
    cursor: pointer;
}

.cur_d {
    cursor: default;
}

.clr_white {
    color: #ffffff;
}

.blink {

}

.v_text {
    transform: rotate(90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    writing-mode: tb-rl;
}

.t_shd1 {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.35), 2px -1px 1px rgba(255, 255, 255, 0.35), -2px 3px 1px rgba(255, 255, 255, 0.35), -2px -2px 1px rgba(255, 255, 255, 0.35);
}

.t_shd2 {
    text-shadow: 2px 2px 1px rgba(255, 255, 255, 0.6), 2px -1px 1px rgba(255, 255, 255, 0.6), -2px 3px 1px rgba(255, 255, 255, 0.6), -2px -2px 1px rgba(255, 255, 255, 0.6);
}

.extra-big {
    width: 200%;
}

.stroke {
    text-shadow: -1px 1px 0 #e6f5fb, -1px -1px 0 #e6f5fb, 1px -1px 0 #e6f5fb, -1px 1px 1px #e6f5fb, 3px 3px 3px #e6f5fb;
    cursor: default;
}

.to1 {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.hidden {
    position: absolute;
    top: -155001px;
}

.overlay-cover {
    position: absolute;
    top: -3px;
    left: -6px;
    bottom: -5px;
    right: -3px;
    display: none;
    background: rgba(0, 0, 0, 0.72);
}

.deactive .overlay-cover {
    display: block;
}

.addr:before {
    content: " ";
}

/*----------------------> Indents Zero <------------------*/

/*----------------------> Icons <------------------*/
.ico1:before {
    content: " ";
    background: url(/images/i.png) -717px -11px;
    display: block;
    width: 65px;
    height: 54px;
    float: left;
}

.ico2:before {
    content: " ";
    background: url(/images/i.png) -717px -83px;
    display: block;
    width: 65px;
    height: 54px;
    float: left;
}

.ico3:before {
    content: " ";
    background: url(/images/i.png) -717px -154px;
    display: block;
    width: 65px;
    height: 54px;
    float: left;
}

.ico4:before {
    content: " ";
    background: url(/images/i.png) -717px -221px;
    display: block;
    width: 65px;
    height: 76px;
    float: left;
}

.ico5 {
    background-position: -350px -93px;
    display: block;
    width: 15px;
    height: 15px;
}

/*----------------------> Padding/Margins <------------------*/
.p1 {
    padding-top: 28px;
}

.p2 {
    padding-top: 15px;
}

.p3 {
    padding-top: 122px;
}

.m1 {
    margin-top: 63px;
}

.m2 {
    margin-left: 11px;
}

.m3 {
    margin-bottom: 22px;
}

.m_bot_zero {
    margin-bottom: 0 !important;
}

.m_left_zero {
    margin-left: 0 !important;
}

.p_bot_zero {
    padding-bottom: 0 !important;
}

.p_left_zero {
    padding-left: 0 !important;
}

.wrapper1 {
    padding: 3px 5px;
}

/*----------------------> Positions <------------------*/
.p_abs {
    position: absolute;
}

.p_rel {
    position: relative;
}

.p_fix {
    position: fixed;
}

.clear {
    clear: both;
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper {
    overflow: hidden
}

.f_elem > *:first-child {
    margin-top: 0 !important;
}

.f_elem1 > *:first-child {
    padding-top: 0 !important;
    margin-top: 0 !important;
    border: none !important;
}

.s_row *:first-child {
    margin-left: 0 !important;
}

.bg_none {
    background: none !important;
}

.m_c {
    margin: 0 auto;
}

.error:before {
    content: "*";
    color: #f00;
    font-size: 11px;
}

.bold {
    font-weight: bold;
}

.btn_hov.active {
    cursor: default !important;
}

.btn_hov:not(.active) {
    opacity: 0.78;
}

.btn_hov:not(.active):hover {
    opacity: 1;
}

.btn_hov:not(.active):active {
    opacity: 0.9;
}

.height1 {
    display: block;
    height: 14px;
}

/*----------------------> Colors <------------------*/
.red {
    color: #F00
}

/*----------------------> Displays <------------------*/

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.d_in-block {
    display: inline-block;
}

.d_tc {
    display: table-cell;
}

/*----------------------> Menu <------------------*/
.p_loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #CFE7F5 url(/images/p_bgr.png);
    z-index: 150;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

.p_loading_bgr {
    background: url(/images/p_bgr.png);
}

.p_loading .box {
    background: url(/images/p_box_bgr.png);
    width: 408px;
    height: 124px;
    margin: 0 auto;
    position: absolute;
    margin-left: -204px;
    margin-top: -62px;
    top: 50%;
    left: 50%;
    border-radius: 17px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.p_loading div.loading_anim {
    position: relative;
    top: 50%;
    left: 50%;
    width: 91px;
    height: 91px;
    margin: -100px 0 0 -45px;
}

.p_loading p {
    position: absolute;
    color: #45617E;
    bottom: 34px;
    text-align: center;
    width: 100%;

}

#loading_process {
    position: absolute;
    top: 5px;
    left: 38px;
}

header {
    height: 97px;
    background-color: #E2F4FF;
    overflow: hidden;
    box-shadow: 0px 2px 4px #CCC;
}

header > menu {
    width: 100%
}

section {
    background-color: #A3D1EC;
    min-height: 607px;
}

footer {
    background: url(/images/footer_bgr.png);
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

footer ul {
    float: right;
    width: 300px;
    margin-top: 8px;
}

footer ul li {
    float: right;
    color: #386B96;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    font-size: 14px;
    cursor: pointer;
}

footer ul li.share:after {
    content: " ";
    background: url(/images/i.png) -515px -99px;
    width: 19px;
    height: 24px;
    float: left;
    display: block;
    margin: -1px 0 0 -103px;
}

footer ul li.share:hover:after {
    background: url(/images/i.png) -515px -123px
}

footer ul li.share:active:after {
    background: url(/images/i.png) -515px -149px
}

footer ul li.faq:after {
    content: " ";
    background: url(/images/i.png) -538px -99px;
    width: 19px;
    height: 24px;
    float: left;
    display: block;
    margin: -1px 0 0 -69px;
}

footer ul li.faq:hover:after {
    background: url(/images/i.png) -538px -123px
}

footer ul li.faq:active:after {
    background: url(/images/i.png) -538px -149px
}

footer ul li.rules:after {
    content: " ";
    background: url(/images/i.png) -563px -99px;
    width: 19px;
    height: 24px;
    float: left;
    display: block;
    margin: -1px 0 0 -38px;
}

footer ul li.rules:hover:after {
    background: url(/images/i.png) -563px -123px
}

footer ul li.rules:active:after {
    background: url(/images/i.png) -563px -149px
}

menu > div {
    width: 194px;
    height: 98px;
    cursor: pointer;
}

menu > div span {
    width: 68px;
    height: 64px;
}

menu > div span:before,
menu > div span:before {
    font-family: ralev001regular;
    font-size: 33px;
    display: block;
}

.mi_item_1 {
    width: 183px;
    background: url(/images/m_item_1.png);
}
.mi_item_1 time {
    position: absolute;
    top: 24px;
    left: 23px;
    color: #FFC3E5;
    font-family: ralev001extrabold;
    font-weight: bold;
    /* display: none; */
    width: 58px;
    text-align: center;
}
.mi_item_1 .ico {
    background-position: -14px -7px;
}
.mi_item_1 .ico:before {
    content: 'Игра';
    color: #aa3b3b;
    margin: 0 0 0 80px;
    padding-top: 11px;
}
.mi_item_1:hover {
    background: url(/images/m_item_1.png) 0 -101px;
}
.mi_item_1:hover .ico {
    background-position: -14px -78px;
}
.mi_item_1:active,
.mi_item_1.current {
    background: url(/images/m_item_1.png) 0 -204px;
}
.mi_item_1:active .ico,
.mi_item_1.current .ico {
    background-position: -14px -148px;
}
.mi_item_1:active .ico:before,
.mi_item_1.current .ico:before {
    font-family: 'ralev001extrabold';
    padding-top: 14px;
}

.mi_item_2 {
    background: url(/images/m_item_2.png);
}
.mi_item_2 .ico {
    background-position: -100px -7px;
}
.mi_item_2 .ico:before {
    content: 'Сообщения';
    color: #E26E06;
    margin: 0 0 0 74px;
    padding-top: 18px;
    font-size: 20px;
}
.mi_item_2:hover {
    background: url(/images/m_item_2.png) 0 -101px;
}
.mi_item_2:hover .ico {
    background-position: -100px -78px;
}
.mi_item_2:active,
.mi_item_2.current {
    background: url(/images/m_item_2.png) 0 -204px;
}
.mi_item_2:active .ico,
.mi_item_2.current .ico {
    background-position: -100px -149px;
}
.mi_item_2:active .ico:before,
.mi_item_2.current .ico:before {
    font-family: 'ralev001extrabold';
    padding-top: 19px;
}

.mi_item_3 {
    background: url(/images/m_item_3.png);
}
.mi_item_3 .ico {
    background-position: -181px -7px;
}
.mi_item_3 .ico:before {
    content: 'Уведомления';
    color: #296e8a;
    margin: 0 0 0 66px;
    padding-top: 22px;
    font-size: 19px;
}
.mi_item_3:hover {
    background: url(/images/m_item_3.png) 0 -101px;
}
.mi_item_3:hover .ico {
    background-position: -181px -77px;
}
.mi_item_3:active,
.mi_item_3.current {
    background: url(/images/m_item_3.png) 0 -204px;
}
.mi_item_3:active .ico,
.mi_item_3.current .ico {
    background-position: -181px -147px;
}
.mi_item_3:active .ico:before,
.mi_item_3.current .ico:before {
    font-family: 'ralev001extrabold';
    padding-top: 23px;
}


.mi_item_4 {
    background: url(/images/m_item_4.png);
}
.mi_item_4 .ico {
    background-position: -16px -593px;
    width: 82px;
    height: 60px;
    margin-left: 11px;
}
.mi_item_4 .ico:before {
    content: 'Рейтинг';
    color: #544075;
    margin: 0 0 0 84px;
    padding-top: 24px;
    font-size: 19px;
}
.mi_item_4:hover {
    background: url(/images/m_item_4.png) 0 -101px;
}
.mi_item_4:hover .ico {
    background-position: -106px -593px
}
.mi_item_4:active,
.mi_item_4.current {
    background: url(/images/m_item_4.png) 0 -204px;
}
.mi_item_4:active .ico,
.mi_item_4.current .ico {
    background-position: -196px -593px
}
.mi_item_4:active .ico:before,
.mi_item_4.current .ico:before {
    font-family: 'ralev001extrabold';
    padding-top: 25px;
}

/*----------------------> Global <------------------*/
.vip:after {
    width: 34px;
    height: 34px;
    top: -1px;
    left: -1px;
    background: url(/images/i.png);
    content: "";
    display: block;
    position: absolute;
}

.brd_1 {
    border: 1px solid;
}

.brd_2 {
    border: 2px solid;
}

.brd_3 {
    border: 3px solid;
}

.ui-tooltip.skin {
    box-shadow: none;
    border: 2px solid rgba(237, 248, 255, 0.56);
    border-radius: 4px;
}

.ui-tooltip.male.skin_1 {
    background: rgba(33, 164, 213, 0.5);
}

.ui-tooltip.male.skin_2 {
    background: rgba(0, 255, 183, 0.5);
    border-color: rgba(0, 255, 183, 0.81);
}

.ui-tooltip.male.skin_3 {
    background: rgba(255, 79, 58, 0.5);
    border-color: rgba(255, 79, 58, 0.52);
}

.ui-tooltip.male.skin_4 {
    background: rgba(81, 196, 246, 0.5);
    border-color: rgba(0, 184, 255, 0.51)
}

.ui-tooltip.male.skin_5 {
    background: rgba(0, 45, 65, 0.5); /*#002d41;*/
    border-color: rgba(0, 45, 65, 0.29);
}

.ui-tooltip.female.skin_1 {
    background: rgba(255, 122, 150, 0.84);
    border-color: rgba(214, 99, 123, 0.79);
}

.ui-tooltip.female.skin_2 {
    background: rgba(255, 21, 70, 0.75);
    border-color: rgba(214, 57, 90, 0.69);
}

.ui-tooltip.female.skin_3 {
    background: rgba(228, 0, 255, 0.66);
    border-color: rgba(170, 23, 199, 0.97);
}

.ui-tooltip.female.skin_4 {
    background: rgba(0, 255, 42, 0.76);
    border-color: rgba(11, 186, 49, 0.59);
}

.ui-tooltip.female.skin_5 {
    background: rgba(226, 255, 41, 0.82);
    border-color: #b1d528;
}

.ui-tooltip.female.skin_5.settings_tt > * {
    color: #0D5F26 !important;
}

.ui-tooltip.female.skin_4.settings_tt > * {
    color: #0D5F26 !important;
}

.ui-tooltip.skin {
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.8);
}

.ui-tooltip.skin:after {
    content: " ";
    display: block;
    width: 30px;
    height: 17px;
    position: absolute;
    bottom: -17px;
    right: 36%;
}

/*
.ui-tooltip.male.skin_1:after {
    background: url(/images/i.png) -264px -182px;
    /*border-top: 1px solid rgba(33, 164, 213, 0.5);
}
.ui-tooltip.male.skin_2:after {
    background: url(/images/i.png) -262px -202px;
   /*border-top: 1px solid rgba(0, 255, 183, 0.5)
}
.ui-tooltip.male.skin_3:after {
    background: url(/images/i.png) -263px -220px;
    /*border-top: 1px solid rgba(255, 79, 58, 0.5);
}
.ui-tooltip.male.skin_4:after {
    background: url(/images/i.png) -262px -236px;
   /* border-top: 1px solid rgba(0, 255, 183, 0.5)
}
.ui-tooltip.male.skin_5:after {
    background: url(/images/i.png) -262px -253px;
    /*border-top: 1px solid rgba(0, 255, 183, 0.5)
}
*/

.male .brd,
.male.brd,
.male.skin_1,
.male .skin_1 {
    border-color: #21a4d5;
}

.male.skin_1.bgr,
.male .skin_1.bgr {
    background: #1495c5;
}

.male.skin_2,
.male .skin_2 {
    border-color: #00ffb7;
}

.male.skin_2.bgr,
.male .skin_2.bgr {
    background: #00ffb7;
}

.male.skin_3,
.male .skin_3 {
    border-color: #ff4f3a;
}

.male.skin_3.bgr,
.male .skin_3.bgr {
    background: #ff4f3a;
}

.male.skin_4,
.male .skin_4 {
    border-color: #00b8ff;
}

.male.skin_4.bgr,
.male .skin_4.bgr {
    background: #00b8ff;
}

.male.skin_5,
.male .skin_5 {
    border-color: #002d41;
}

.male.skin_5.bgr,
.male .skin_5.bgr {
    background: #002d41;
}

.male.skin_1.vip:after {
    background-position: -269px -6px;
}

.male.skin_2.vip:after {
    background-position: -309px -6px;
}

.male.skin_3.vip:after {
    background-position: -349px -6px;
}

.male.vip.skin_4:after {
    background-position: -389px -6px;
}

.male.skin_5.vip:after {
    background-position: -429px -6px;
}

.female .brd,
.female.brd,
.female.skin_1,
.female .skin_1 {
    border-color: #ff92a9;
}

.female .skin_1.bgr {
    background: #ff92a9;;
}

.female.skin_2,
.female .skin_2 {
    border-color: #ff1546;
}

.female .skin_2.bgr {
    background: #ff1546;;
}

.female.skin_3,
.female .skin_3 {
    border-color: #e400ff;
}

.female .skin_3.bgr {
    background: #e400ff;
}

.female.skin_4,
.female .skin_4 {
    border-color: #00ff2a;
}

.female .skin_4.bgr {
    background: #00ff2a;;
}

.female.skin_5,
.female .skin_5 {
    border-color: #e2ff29;
}

.female .skin_5.bgr {
    background: #e2ff29;
}

.female.skin_1.vip:after {
    background-position: -269px -46px;
}

.female.skin_2.vip:after {
    background-position: -309px -46px;
}

.female.skin_3.vip:after {
    background-position: -349px -46px;
}

.female.vip.skin_4:after {
    background-position: -389px -46px;
}

.female.skin_5.vip:after {
    background-position: -429px -46px;
}

.sd-box {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}

.sd-box .ui-dialog-content {
    border-radius: 4px;
}

.sd-wrapper {
    box-shadow: inset 0 0 2px #FFF;
    border-radius: 4px;
}

.sd-wrapper.male {
    background: url(/images/sd-male.png);
}

.sd-wrapper.female {
    background: url(/images/sd-female.png);
}

.sd-btn {
    width: 100%;
    height: 37px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    font-weight: 700;
    outline: none;
}

.sd-wrapper.male .sd-btn {
    border: 0;
    cursor: pointer;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: url(/images/sd-btn-male.png) 0 0 repeat-x
}

.sd-wrapper.male .sd-btn:not(.ui-state-disabled):hover {
    background-position: 0 -46px;
}

.sd-wrapper.male .sd-btn:not(.ui-state-disabled):active {
    text-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
    background-position: 0 -83px;
}

.sd-wrapper.female .sd-btn {
    border: 0;
    cursor: pointer;
    color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: url(/images/sd-btn-female.png) 0 0 repeat-x
}

.sd-wrapper.female .sd-btn:not(.ui-state-disabled):hover {
    background-position: 0 -42px;
}

.sd-wrapper.female .sd-btn:not(.ui-state-disabled):active {
    text-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.3);
    background-position: 0 -83px;
}

.sd-header:before {
    content: " ";
    display: block;
    background: url(/images/i.png) -178px -218px;
    width: 66px;
    height: 65px;
    position: absolute;
    left: -52px;
    top: -64px;
}

.sd-header:after {
    content: " ";
    display: block;
    background: url(/images/i.png) -110px -218px;
    width: 66px;
    height: 65px;
    position: absolute;
    top: -64px;
    right: -52px;
}

.sd-avatar {
    position: absolute;
    max-height: 80px;
    max-width: 83px;
    top: -41px;
}

/*----------------------> User block <------------------*/
.u_profile {
    width: 219px;
    margin: 3px 7px 0 0px;
    cursor: default;
    color: #587ba1;
}

.u_profile .val {
}

.u_profile .vip-settings .val {
    margin-top: 2px;
}

.u_profile .val:before {
    content: "";
    display: block;
    width: 18px;
    height: 21px;
    float: left;
    cursor: pointer;
}

.u_profile .val1:before {
    background: url(/images/i.png) -267px -92px;
    margin-right: 8px;
    cursor: default;
}

.u_profile .val2:before {
    background: url(/images/i.png) -266px -114px;
    margin-right: 7px;
    width: 21px;
    margin-top: -1px;
}

.u_profile .val3:before {
    background: url(/images/i.png) -266px -136px;
    margin-right: 7px;
    margin-top: 0px;
    width: 21px;
}

.u_profile p {
    margin: 1px 0 0 5px;
}

.u_profile .vip-btn {
    position: absolute;
    width: 92px;
    top: 63px;
    left: -6px;
}

.vip-btn {
    color: #ffffff;
    height: 22px;
    font-size: 14px;
    cursor: pointer;
}

.male .vip-btn {
    background-color: #21A4D5;
    border: 1px solid #0A97CD;
    border-top-color: #31CDFF;
}

.male .vip-btn:hover {
    background-color: #26bff8;
    border: 1px solid #0a97cd;
    border-top-color: #3aeeff;
}

.male .vip-btn:active {
    background-color: #0778aa;
    border: 1px solid #098fc1;
}

.female .vip-btn {
    background-color: #ff92a9;
    border: 1px solid #d57a8d;
    border-top-color: #ffb7dc;
}

.female .vip-btn:hover {
    background-color: #ffa3b6;
    border: 1px solid #d57a8d;
    border-top-color: #ffcceb;
}

.female .vip-btn:active {
    background-color: #d5657a;
    border: 1px solid #d57a8d;
}

/*----------------------> Icons <------------------*/
.ico-close {
    cursor: pointer;
    width: 20px;
    height: 19px;
    background-position: -407px -85px;
}

.ico-close:hover {
    background-position: -407px -109px;
}

.ico-close:active {
    background-position: -407px -138px;
}

.ico-rand-question {
    width: 22px;
    height: 22px;
    display: block;
}

.ico-play-unlimit {
    width: 22px;
    height: 22px;
    display: block;
}

.ico-upload {
    background-position: -100px -323px;
}

.male .ico-rand-question {
    background-position: -12px -315px;
}

.male .ico-play-unlimit.checked {
    background-position: -37px -315px;
}

.male .ico-play-unlimit {
    background-position: -62px -315px;
}

.male .female-count {
    width: 50px;
    height: 60px;
}

.male .male-count {
    width: 50px;
    height: 60px;
}

.male .male-count:before {
    background: url(/images/i.png) -60px -224px;
    display: block;
    width: 50px;
    height: 37px;
    content: "";
}

.female .ico-rand-question {
    background-position: -12px -338px;
}

.female .ico-play-unlimit.checked {
    background-position: -37px -338px;
}

.female .ico-play-unlimit {
    background-position: -62px -338px;
}

.male .female-count:before {
    background: url(/images/i.png) -10px -224px;
    display: block;
    width: 50px;
    height: 37px;
    content: "";
}

.female .female-count {
    width: 50px;
    height: 60px;
}

.female .female-count:before {
    background: url(/images/i.png) -10px -266px;
    display: block;
    width: 50px;
    height: 37px;
    content: "";
}

.female .male-count {
    width: 50px;
    height: 60px;
}

.female .male-count:before {
    background: url(/images/i.png) -60px -266px;
    display: block;
    width: 50px;
    height: 37px;
    content: "";
}

.online {
    margin: 92px 0 0 20px;
}

.online .male-count {
    margin-left: 9px;
}

/**/
.leader-block .bid-label {
    line-height: 29px;
}

.leader-block .bid {
    margin-top: 8px;
}

.leader-block .user-block {
    width: 96px;
    height: 96px;
    margin: 20px 0 5px 27px;
}

.leader-block .user-block img {
    width: 100%;
    height: 100%;
}

.leader-block .bubblingG {
    position: absolute;
    left: 38px;
    top: 46px;
}

.leader-block.no-leader .user-block {
    opacity: 0.4;
}

.label-unlimit {
    margin: 2px 0 0 25px;
    display: block;
    width: 200px;
}

#runner {
    position: absolute;
    right: 8px;
    top: 6px;
}

.question {
    resize: none;
    width: 233px;
    height: 89px;
    padding: 9px;
    border-radius: 4px;
}

.disconnected .overlay {
    display: none;
}

.q-box .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 4px;
}

.q-box .overlay .bubblingG {
    margin: 14px 0 0 83px;
    display: block;
}

.q-box .overlay .search-label {
    position: absolute;
    top: 73px;
    width: 100%;
    text-align: center;
}

.male .question {
    border: 1px solid #75B2DB;
    box-shadow: inset 0 0 6px #75B2DB;
}

.female .question {
    border: 1px solid #e898b0;
    box-shadow: inset 0 0 6px #e898b0;
}

.num {
    width: 27px;
    height: 19px;
    border: 3px solid;
    background: white;
    color: #F81C25;
    padding-top: 6px;
    font-size: 17px;
}

.num_1 {
    border-color: rgba(251, 154, 21, 0.52);
}

.num_2 {
    border-color: rgba(7, 89, 204, 0.62);
}

.mi_item_2 .num {
    left: 55px;
    top: 51px;
}

.mi_item_3 .num {
    left: 44px;
    top: 51px;
}

#leader-dialog .comment-box-1 {
    position: absolute;
    left: 166px;
    top: -1px;
    width: 150px;
    color: #2D5577;
}

.comment-box-1 p {
    color: #2D5577;
}

.comment-box-1:after {
    background: url(/images/leaderComment.png) 0 16px;
    content: " ";
    display: block;
    width: 161px;
    height: 16px;
}

.comment-box-1:before {
    background: url(/images/leaderComment.png) 0 2px;
    content: " ";
    display: block;
    width: 161px;
    height: 16px;
}

.comment-box-1 p {
    background: url(/images/leader-comment-gb.png) repeat-y;
    width: 130px;
    margin-left: 1px;
    min-height: 75px;
    padding: 0 15px;
}

.comment-box-1 p:before {
    background: url(/images/leaderComment.png) -161px 0px;
    display: block;
    width: 22px;
    height: 42px;
    left: -19px;
    position: absolute;
    content: " ";
    top: 33px;
    border-right: 3px solid rgba(176, 216, 240, 0.5)
}

.comment-box-1 p:after {
    content: " ";
    width: 6px;
    height: 30px;
    display: block;
    background: #AFD7EF;
    position: absolute;
    left: 1px;
    top: 39px;
}

#become-leader-dialog textarea,
#to-users-list-confirmation textarea {
    resize: none;
    width: 408px;
    height: 64px;
    margin-top: 12px;
    border: 1px solid #CCC;
    box-shadow: inset 0px 1px 1px 1px rgba(204, 204, 204, 0.66);
    padding: 10px;
    color: #697882;
}

.charsLeft {
    position: absolute;
    right: 20px;
    bottom: 95px;
    padding: 5px 7px 5px 5px;
    border-radius: 3px;
    background: #21A4D5;
    color: #FFF;
}

#to-users-list-confirmation .charsLeft {
    bottom: 84px;
}

.count0 {
    display: none;
}

/* ----------------> block1 */
.block1 {
    position: absolute;
    bottom: 7px;
    height: 89px;
    width: 100%;
    overflow: hidden;
}

.block1 .btn1 {
    margin-left: -22px;
}

.block1 .btn1 .v_text {
    left: 15px;
    top: 27px;
    line-height: 15px;
    text-align: center;
    color: #5b8dc0;
    text-shadow: -2px 0px 6px #FFF, 0 1px 1em #FFF;
    font-weight: normal;
}

.block1 .btn1:hover {
    margin-left: -18px;
}

.block2 {
    left: 73px;
    top: 2px;
    height: 87px;
    overflow: hidden;
    background: rgba(255,255,255, 0.5);
    min-width: 1050px;
}

.block3 {
    margin-right: 5px;
}

.block3 img {
    max-width: 78px;
    max-height: 78px;
}

.hover {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border: 0 solid;
}

.hover:hover {
    border-width: 3px;
}

.btn1 {
    background: #afd8f0;
    width: 75px;
    height: 86px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-right: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 4px;
}

.btn1:hover {
    background: #c1e2f6;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.55);
}

.btn1:active {
    background: #90c7e5;
}

.block5 {
    width: 302px;
    height: 149px;
    position: absolute;
    right: 220px;
    bottom: 164px;
    background: #A9D5EE;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.block5 .user-block {
}

.block5 .user-block img {
    width: 85px;
}

.block5 .labels {
    color: #a46076;
    font-size: 13px;
}

.block5 .label1 {
    width: 88px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: -3px;
}

.block5 .label2 {
    font-size: 11px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.block5 > div:first-child {
    width: 90px;
    margin: 13px 0 5px 11px;
}

.block5 > div:last-child {
    width: 180px;
    margin-top: 12px;
    margin-left: 11px;
}

.block5 .item {
    padding: 4px 0 7px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 15px;
    margin-bottom: 2px;
}

.block5.female .item {
    color: #7C4759;
    background: #FFA9BA;
}

.block5.female .item:before {
    content: " ";
    display: block;
    width: 30px;
    height: 25px;
    float: left;
    margin-left: 7px;
}

.block5.female .item.coffee:before {
    background: url(/images/i.png) -439px -86px;
}

.block5.female .item.walk:before {
    background: url(/images/i.png) -439px -115px;
}

.block5.female .item.meet:before {
    background: url(/images/i.png) -439px -143px;
}

.block5.female .item.skip:before {
    background: url(/images/i.png) -439px -174px;
}

.block5.male .item {
    color: #2d5577;
    background: #73c1e4;
}

.block5.male .item:before {
    content: " ";
    display: block;
    width: 30px;
    height: 25px;
    float: left;
    margin-left: 7px;
}

.block5.male .item.coffee:before {
    background: url(/images/i.png) -469px -86px;
}

.block5.male .item.walk:before {
    background: url(/images/i.png) -469px -115px;
}

.block5.male .item.meet:before {
    background: url(/images/i.png) -469px -143px;
}

.block5.male .item.skip:before {
    background: url(/images/i.png) -469px -174px;
}

/* ----------------> block1 */
.payment {
    padding: 57px 26px 0;
}

.payment .header {
    padding-left: 94px;
}

.payment .header .l-row1:before {
    content: " ";
    display: block;
    background: url(/images/i.png) -635px 0;
    width: 66px;
    height: 68px;
    position: absolute;
    left: 26px;
    top: 42px
}

.rate {
    width: 274px;
    height: 78px;
}

.rate .row1 .col1 {
    background: url(/images/i.png) -514px -9px;
    padding: 9px 8px;
    width: 51px;
    text-align: center;
    color: #FFF;
}

.rate .row1 .col2 {
    margin-left: 8px;
}

.rate .row2 .col1 {
    width: 50px;
}

.rate .row2 .col1:before {
    content: " ";
    display: block;
    width: 18px;
    height: 25px;
    margin-right: 3px;
    margin-top: 2px;
    float: left;
}

.rate .row2 .col2:before {
    content: " ";
    display: block;
    width: 18px;
    height: 25px;
    margin-right: 1px;
    margin-top: 0px;
    float: left;
}

.male .rate .row2 .col1:before {
    background: url(/images/i.png) -590px -78px;
}

.female .rate .row2 .col1:before {
    background: url(/images/i.png) -616px -78px;
}

.male .rate .row2 .col2:before {
    background: url(/images/i.png) -639px -78px;
}

.female .rate .row2 .col2:before {
    background: url(/images/i.png) -662px -78px;
}

.btn2 {
    display: block;
    width: 184px;
    height: 22px;
    padding: 5px 0;
    border-radius: 3px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.male .btn2,
.male.btn2 {
    background: #21A4D5;
}

.female .btn2,
.female.btn2 {
    background: #ff92a9;
}

.block4 {
    background: #FF5176;
    position: absolute;
    width: 106%;
    height: 47px;
    bottom: 82px;
    left: -17px;
    border-radius: 3px;
    border-top: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.block4 .col1 {
    background: url(/images/i.png) -514px -51px;
    width: 67px;
    height: 36px;
    text-align: center;
    padding: 6px 0;
    color: #DD5934;
    font-size: 18px;
    margin: 5px 0 0 40px;
}

.block4 .col2 {
    color: #FFF;
    font-size: 19px;
    margin: 10px 15px;
}

.block4:hover {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

.block4:active {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.10);
}

.block4 .col3 {
    background: url(/images/i.png) -590px -43px;
    display: block;
    width: 29px;
    height: 30px;
    margin-top: 10px;
}

#become-vip .row {
    padding: 11px 41px
}

#become-vip .row:before {
    margin-right: 33px;
}

#become-vip .row span {
    width: 223px;
    /* text-align: center; */
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

#become-vip .btn2 {
    margin: 4px auto;
    width: 347px;
}

#become-vip figure {
    margin-top: 57px;
}

#settings .model {
    position: absolute;
    bottom: -115px;
    left: 163px;
}

#settings .point {
    width: 1px;
    height: 1px;
    position: absolute;
    bottom: -6px;
    right: 66px;
    text-indent: -10000px;
}

#settings .userVisibility {
    width: 34px;
    height: 37px;
    margin: 0 auto;
    background: url(/images/i.png) -511px -184px;
    margin-top: 6px;
}

#settings .userVisibility.active {
    background-position: -553px -184px;
}

.settings_tt > div {
    color: #fff;
}

.jq-checkbox {
    border: none;
    box-shadow: none;
}

.jq-checkbox.checked .jq-checkbox__div {
    background: none;
    box-shadow: none;
}

#play-unlimit-styler {
    margin-top: 1px;
}

#settings .colors .circle {
    width: 34px;
    height: 34px;
    margin-right: 7px;
}

#settings .colors .circle.active {
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    border: 1px solid;
}

#settings .colors .circle:last-child {
    margin-right: 0;
}

#settings .colors {
    margin: 16px auto 0;
    width: 205px;
    height: 37px;
}

.g_p.n {

}

.g_p1.d_none {
    display: block !important;
    position: absolute;
    top: -100000px;
}

.g_p.n > div {
    height: 607px;
    width: 49%;
}

.g_p.n > div:first-child {
    background: #a3d1ec;
    border-right: 1px solid #73b1d5;
    border-left: 1px solid #cfe7f5;
}

.g_p.n > div:last-child {
    background: #b5daf0;
    width: 507px;
}

/* notifications */
#all-notifications {
    position: absolute;
    left: 185px;
    top: 8px;
    color: #5B8DC0;
}

#leader-label {
    color: #5B8DC0;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    top: 9px;
    left: 15px;
}

#rating-history {
    color: #5B8DC0;
    position: absolute;
    right: 179px;
    top: 11px;
}

.ratings {
    margin-top: 52px;
}

.rating:before {
    -webkit-transition: all 0.25s ease-out 0s;
    -moz-transition: all 0.25s ease-out 0s;
    -o-transition: all 0.25s ease-out 0s;
    transition: all 0.25s ease-out 0s;
}
.rating:hover:before {
    -webkit-transform: scale(1.1, 1.1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.1, 1.1);  /* FF3.5+ */
    -ms-transform: scale(1.1, 1.1);  /* IE9 */
    -o-transform: scale(1.1, 1.1);  /* Opera 10.5+ */
    transform: scale(1.1, 1.1);
}
.rating.positive:before {
    content: " ";
    display: block;
    height: 43px;
    position: absolute;
    width: 42px;
    background: url(/images/i.png) -593px -102px;
    top: 10px;
    left: -12px;
}
.rating.positive .text1 {
    color: #28A584;
    display: block;
    padding: 7px;
    margin-left: 48px;
    font-size: 17px;
}
.rating.negative .text1 {
    color: #c63030;
    display: block;
    padding: 7px;
    margin-left: 48px;
    font-size: 17px;
}
.rating .text2 {
    color: #587BA1;
    margin-left: 52px;
    text-shadow: 1px 1px 3px rgba(226, 244, 255, 0.79);
    font-size: 12px;
    margin-top: -5px;
}
.rating.negative:before {
    content: " ";
    display: block;
    height: 43px;
    position: absolute;
    width: 42px;
    background: url(/images/i.png) -638px -102px;
    top: 10px;
    left: -12px;
}

.nfs, .ratings {
    height: 558px;
    margin-top: 50px;
}

.r-item {
    height: 58px;
    width: 440px;
    background: url(/images/r-bg.png);
    margin: 8px auto 0;
}

.r-item time {
    position: absolute;
    right: 9px;
    top: 7px;
    font-size: 12px;
    color: #587BA1;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;
}

.r-item:hover time {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.r-item:before {
    content: " ";
    background: url(/images/i.png) -470px -11px;
    width: 38px;
    height: 58px;
    display: block;
    position: absolute;
    left: 0px;
}

.r-item:after {
    content: " ";
    background: url(/images/i.png) -377px -93px;
    width: 8px;
    height: 58px;
    display: block;
    position: absolute;
    right: -8px;
    top: 0;
}

.n-item {
    width: 483px;
    background: url(/images/n-bg.png);
    height: 47px;
}

.n-item:not(.new):hover label:last-child {
    text-shadow: 0 0 1px #DFEDF2;
}

.n-item img {
    margin-top: 1px;
}

.n-item time {
    color: #587ba1;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 3px;
}

.n-item label {
    font-size: 14px;
    display: block;
}

.n-item label:first-child,
.n-item label:first-child a {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.n-item label:last-child {
    color: #45617E;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.95);
}

.n-item.female.new {
    background: url(/images/n-female-new.png);
}

.n-item.female img {
    border: 2px solid #ffb4c4;
}

.n-item.female.new label:last-child {
    color: #8a5660;
}

.n-item.male.new {
    background: url(/images/n-male-new.png);
}

.n-item.male img {
    border: 2px solid #a3d1ec;
    -webkit-transition: all 0.25s ease-out 0s;
    -moz-transition: all 0.25s ease-out 0s;
    -o-transition: all 0.25s ease-out 0s;
    transition: all 0.25s ease-out 0s;
}
.n-item:hover img {
    -webkit-transform: scale(1.1, 1.1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.1, 1.1);  /* FF3.5+ */
    -ms-transform: scale(1.1, 1.1);  /* IE9 */
    -o-transform: scale(1.1, 1.1);  /* Opera 10.5+ */
    transform: scale(1.1, 1.1);
}

.n-item.male.new label:last-child {
    color: #305a7f;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.n-item.new time {
    font-size: 12px;
    color: #FFF;
}

.g_p.n > .new:last-child {
    margin-bottom: 13px;
}

.n-item.new label:first-child {
    color: #FFF;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 13px;
}

.n-item .ico5 {
    position: absolute;
    right: 8px;
    bottom: 5px;
    height: 17px;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-out 0s;
    -moz-transition: opacity 0.35s ease-out 0s;
    -o-transition: opacity 0.35s ease-out 0s;
    transition: opacity 0.35s ease-out 0s;
}

.n-item:not(.new):hover .ico5 {
    opacity: 1;
}

.n-item:not(.new):active .ico5 {
    opacity: 0.7;
}

#messages {
    height: 500px;
}

#messages > div:first-child {
    height: 609px;
    width: 182px;
    background: #A3D1EC;
    border-right: 1px solid #73B1D5;
}

#messages > div:last-child {
    background: #B5DAF0;
    width: 585px;
    height: 609px;
}

.icons {
    position: absolute;
    width: 167px;
    right: 0;
    top: 7px;
}

.icons > a {
    margin: 2px 2px;
}

.dialogs > div {
    height: 482px;
}

.msg-box {
    height: 441px;
}

.image-container:after {
    content: " ";
    display: block;
    height: 36px;
    width: 26px;
    background: url(/images/i.png);
    background-position: -152px -323px;
    position: absolute;
    top: -2px;
    right: -23px;
}

.image-container img {
    max-width: 98%;
    max-height: 87%;
    margin: 2px 1px;
    border-radius: 2px;
}

.image-container {
    padding: 0 !important;
    height: 33px !important;
    max-height: 33px !important;
}

.textarea-box {
    height: 120px;
    background: url(/images/msg-ta-bg.png);
    position: absolute;
    width: 584px;
    bottom: 2px;
    /* right: 2px; */
    border: 1px solid #A3D1EC;
}

.textarea-box .ta {
    width: 389px;
    height: 57px;
    background: #FFF;
    border: 1px solid #CBDFEB;
    box-shadow: inset 0 0 1px 1px rgba(203, 223, 235, 0.7);
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    overflow: auto;
}

.textarea-box .btn3 {
    /* position: absolute; */
    /* left: 5px; */
    /* bottom: 6px; */
    margin: 5px 0 0 6px;
    float: left;
    height: 18px;
}

.messages figure {
    height: 48px;
    margin-bottom: 9px;
}

.messages figure.female {
    background: url(/images/msg-lf-bg.png);
}

.messages figure.male {
    background: url(/images/msg-lm-bg.png);
}

.messages .sidebar .avatar img {
    width: 35px;
    height: 35px;
}

.messages figure.active .unread-num {
    display: none;
}

.messages figure.male.active {
    background: #21a4d5;
}

.messages figure.female.active {
    background: #ff92a9;
}

.messages figure.female img {
    border-color: #ffb4c4
}

.messages figure.male img {
    border-color: #a3d1ec
}

.messages figure.female .avatar {
    float: left;
    margin: 5px;
}

.messages figure.male .avatar {
    float: left;
    margin: 5px;
}

.messages .labels label:first-child {
    color: #FFF;
    font-size: 14px;
    display: block;
    padding-top: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 171px;
}

.messages .labels label:last-child {
    font-size: 12px;
}

.msg-item {
    width: 530px;
    min-height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 6px auto;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-top: 1px solid #FFF;
    background: url(/images/msg-bg.png);
    margin-left: 42px;
    z-index: 0;
}
.msg-item .ico5 {
    position: absolute;
    right: 8px;
    bottom: 5px;
    height: 17px;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-out 0s;
    -moz-transition: opacity 0.35s ease-out 0s;
    -o-transition: opacity 0.35s ease-out 0s;
    transition: opacity 0.35s ease-out 0s;
}
.msg-item:not(.active):hover .ico5 {
    opacity: 1;
}
.msg-item .g {
    margin: 10px;
    border-radius: 5px;
}
.msg-item .text2 img,

#ta_box img {
    margin: 2px;
}
#take-pic video {
    margin: 19px 18px;
}
#take-pic .js-preview {
    position: absolute;
    top: 39px;
    left: 66px;
}
#take-pic .btn_hov {
    opacity: 0.9;
    z-index: 105;
}

#take-pic .btn_hov:not(.active):hover {
    opacity: 0.95;
    z-index: 105;
}

#take-pic .sd-avatar span {
    top: 6px;
    left: 27px;
    font-size: 49px;
    position: absolute;
    color: white;
    font-weight: bold;
}

#upload-photo .uploader_btns {
    position: absolute;
    left: 79px;
    top: 48px;
}

#upload-photo .btn2 {
    width: 261px;
    margin: 19px 0;
}

#fromPC > input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
#fromPC .uploading-process,
#shut .uploading-process{
    position: absolute;
    top: 0px;
}
#shut .uploading-process {
    left: 64px;
    top: 6px;
}
.male #fromPC .uploading-process,
.male #shut .uploading-process{
    width: 261px;
    height: 10px;
    background: #6382A2;
}
.male #shut .uploading-process {
    width:425px
}
.male #fromPC .uploading-process .js-progress,
.male #shut .uploading-process .js-progress{
    background: #9DE5FA;
    height: 8px;
    margin-top: 1px;
}
.female #fromPC .uploading-process,
.female #shut .uploading-process{
    width: 261px;
    height: 10px;
    background: #C07885;
}
.female #fromPC .uploading-process .js-progress,
.female #shut .uploading-process .js-progress{
    background: #FFB8D3;
    height: 8px;
    margin-top: 1px;
}

.textarea-box .ico-upload {
    width: 49px;
    height: 37px;
    background-position: -100px -323px;
    float: left;
    margin: 3px;
    position: relative;
    cursor: pointer;
}

.textarea-box .ico-upload > input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 48px;
    cursor: pointer;
}

.textarea-box .btn_hov {
    opacity: 0.9
}

.msg-item:before {
    content: " ";
    width: 56px;
    height: 56px;
    background: url(/images/msg-bg.png);
    left: -30px;
    top: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.35);
    border-top: 1px solid #FFF;
    position: absolute;
    border-radius: 999px;
}

.msg-item.female.active,
.msg-item.female.active:before {
    background: url(/images/female-bg.png);
}

.msg-item.male.active,
.msg-item.male.active:before {
    background: url(/images/male-bg.png);
}

.msg-item.active .text1 {
    color: #FFF;
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.02);
    font-size: 13px;
    font-weight: bold;
}

.msg-item time {
    position: absolute;
    color: #587BA1;
    right: 9px;
    top: 7px;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.55);
}

.msg-item.active time {
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(88, 123, 161, 0.53);
    font-size: 13px;
}

.msg-item .avatar {
    width: 56px;
    height: 56px;
    left: -28px;
    top: 5px;
    position: absolute;
    border-radius: 999px;
}

.msg-item .avatar img {
    width: 47px;
    position: absolute;
    border-radius: 999px;
    left: 2px;
    top: 2px;
}

.msg-item .text1 {
    color: #587ba1;
    margin-left: 41px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: bold;
}

.msg-item .text1 a {
    text-decoration: none;
}

.msg-item .text2 {
    font-size: 14px;
    margin: 5px 0 0 50px;
    padding-right: 32px;
    padding-bottom: 7px;
}

.msg-item:not(.active) .text2 {
    color: #45617e;
}

.msg-item:not(.active) .text1 {
    color: #587ba1;
}

.unread-num {
    position: absolute;
    right: 10px;
    background: #FFF;
    right: 7px;
    bottom: -7px;
    font-size: 14px;
    padding: 1px 2px;
    min-width: 18px;
    text-align: center;
}

.female .unread-num {
    border: 3px solid #FFABBC;
}

.male .unread-num {
    border: 3px solid #21a4d5;
}

/* -----------------> user profile <------------------- */
#profile {
    background: #A3D1EC;
    padding: 0;
}

#profile .operations.buttons > div {
    margin-right: 4px !important;
}
#profile .operations.buttons > div:last-child {
    margin-left: 1px;
}

#profile .bubblingG {
    display: block;
    position: absolute;
    top: 278px;
    left: 316px;
}

#profile .wrapper > div:first-child {
    height: 586px;
    width: 187px;
    background: url(/images/bgr1.png);
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(151, 193, 218, 0.54);
}

#profile .flash {
    margin: 20px 20px 0 20px;
    border-radius: 6px;
}

#patron,
#form {
    height: 582px;
    width: 509px;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.15);
    background: #97C9E8;
}

#form .form-box {
    padding: 20px 18px;
}

.online_status {
    position: absolute;
    top: 0;
    right: 0;
    background: url(/images/i7.png) -3px -24px;
    width: 51px;
    margin: 0;
    height: 51px;
}

.online_status:before {
    content: " ";
    background: url(/images/i7.png);
    width: 34px;
    height: 30px;
    display: block;
    position: absolute;
    top: 4px;
    right: -1px;
}

.online_status.offline:before {
    background-position: 36px -58px;
}

.online_status.online:before {
    background-position: 36px -16px;
}

.form-row {
    margin-bottom: 19px;
    position: relative;
}
.form-row.flags {width: 333px;}
.form-row input[type=text], #form .form-box
.form-row select {
    background: url(/images/i5.png);
    font-family: 'segoe_uiregular';
    font-size: 16px;
    color: #474747
}

.form-row input[type=text] {
    padding: 12px 15px 15px;
}

.username {
    width: 277px;
    margin-top: 6px;
    color: #474747;
}

.birth_date {
    margin-top: 6px;
}

.birth_date input {
    height: 25px;
}

.birth_date .day {
    width: 44px;
    text-align: center;
}

.birth_date .month {
    width: 44px;
    text-align: center;
}

.birth_date .year {
    width: 116px;
    background-position-x: -161px !important;
    text-align: center;
}

.female .username {
    background-position: 0 0 !important;
}

.female .birth_date input {
    background-position: 0px -48px;
}

.male .birth_date input {
    background-position: 0 -147px;
    margin-right: 2px;
}

.male .username {
    background-position: 0 -99px !important;
}
#profile .avatar {
    max-height: 333px;
    max-width: 179px;
    overflow: hidden;
    margin: 5px 1px;
}
#profile .avatar img {
    max-width: 179px;
    min-width: 179px;
}
#profile .kisses {
    position: absolute;
    background: rgba(0, 0, 0, 0.48);
    padding: 6px;
    border-bottom-right-radius: 8px;
}
#profile .kisses span {
    color: #FFC3E5;
    font-family: "ralev001extrabold";
    font-weight: bold;
    font-size: 14px;
}
#profile .kisses:before {
    display: block;
    float: left;
    content: " ";
    background-position: -189px -326px;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
#profile .tool {
    display: block;
    height: 28px;
    width: 179px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: #FFF;
    padding: 8px 0 1px;
}
#profile .tool.edit:before {
    display: block;
    background: url(/images/i.png) -371px -171px;
    width: 18px;
    height: 22px;
    content: " ";
    position: absolute;
    left: 22px;
    top: 9px;
}
#profile .tool.edit {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24)
}
#profile .tool.vk-avatar:before {
    display: block;
    background: url(/images/i.png) -395px -172px;
    width: 18px;
    height: 22px;
    content: " ";
    position: absolute;
    left: 4px;
    top: 9px;
}
#profile .menu {
    width: 179px;
    margin: 4px 4px 4px 3px;
}
#profile .item {
    width: 100%;
    height: 38px;
    background: url(/images/bgr2.png);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}
#profile .item p {
    color: #FFF;
    font-size: 11px;
    margin: 9px 5px 0 0;
}
#profile .item .count {
    position: absolute;
    right: 4px;
    top: 9px;
}
#profile .item p:before {
    content: " ";
    width: 36px;
    height: 26px;
    display: block;
    float: left;
    margin-right: 2px;
    margin-top: -2px;
}
#profile .item p.msg:before {
    background: url(/images/i.png) -9px -375px;
}
#profile .item p.like:before {
    background: url(/images/i.png) -9px -420px;
}
#profile .item p.retinues:before {
    background: url(/images/i.png) -7px -467px;
}
#profile .item p.rating:before {
    background: url(/images/i.png) -9px -511px;
}
#profile .item p.games:before {
    background: url(/images/i.png) -6px -554px;
}
#profile .male .item {
    background: url(/images/bgr2.png);
}
#profile .female .item {
    background: url(/images/bgr3.png);
}
#profile .buttons > div:first-child {
    margin-left: -1px;
}
.operations.buttons > div {
    width: 59px;
    height: 48px;
    background: url(/images/i.png);
    margin-right: 16px;
}
.operations.buttons > div.active {
    -webkit-transform: scale(1.08, 1.08);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.08, 1.08);  /* FF3.5+ */
    -ms-transform: scale(1.08, 1.08);  /* IE9 */
    -o-transform: scale(1.08, 1.08);  /* Opera 10.5+ */
    transform: scale(1.08, 1.08);
}
.male .operations.buttons > div {
    background-position: -304px -172px !important;
}
.female .operations.buttons > div {
    background-position: -304px -217px !important;
}

.operations .b {
    width: 30px;
    height: 29px;
    background: url(/images/i.png);
    position: absolute;
    top: 10px;
    left: 12px;
}
.male .operations .b {
    top: 7px;
}

.operations .b1 {
    background-position: -120px -288px;
    left: 14px;
}

.operations .b2 {
    background-position: -161px -288px;
    left: 15px;
}

.operations .b3 {
    left: 12px;
    width: 38px;
    background-position: -199px -288px;
}
.operations > div {
    -webkit-transform: scale(0.95, 0.95);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.95, 0.95);  /* FF3.5+ */
    -ms-transform: scale(0.95, 0.95);  /* IE9 */
    -o-transform: scale(0.95, 0.95);  /* Opera 10.5+ */
    transform: scale(0.95, 0.95);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.operations > div:not(.active):hover {
    -webkit-transform: scale(1.08, 1.08);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.08, 1.08);  /* FF3.5+ */
    -ms-transform: scale(1.08, 1.08);  /* IE9 */
    -o-transform: scale(1.08, 1.08);  /* Opera 10.5+ */
    transform: scale(1.08, 1.08);
}

#profile .buttons {
    margin: 0px 2px 5px;
    float: left;
    width: 190px;
}

.retinues-box {
    background: #A3D1EC;
    height: 293px;
    /* background: #A3D1EC; */
    width: 492px;
    margin-left: 1px;
    margin-top: 6px;
    border-bottom: 1px solid #D4E9F6;
    border-top: 1px solid #D4E9F6;
    padding: 7px;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.retinues-box figure {
    background: url(/images/i.png) -660px -471px;
    width: 129px;
    height: 129px;
    display: block;
    margin: 10px 10px 29px 20px;
}

.retinues-box figure img {
    border-radius: 80px;
    width: 89px;
    position: absolute;
    top: 35px;
    left: 16px;
}

.retinues-box figure span {
    position: absolute;
    bottom: -24px;
    text-align: center;
    width: 94%;
    cursor: default;
}

.patron-box {
    height: 216px;
    background: #A3D1EC;
    width: 506px;
    margin-left: 1px;
    margin-top: 2px;
    border-bottom: 1px solid #d4e9f6;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.patron {
    height: 164px;
    background: url(/images/i.png) -647px -307px;
    width: 141px;
    position: absolute;
    top: 14px;
    left: 16px;
}

.patron .patron_img {
    border-radius: 80px;
    width: 83px;
    top: 71px;
    left: 26px;
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

.info-bar {
    width: 321px;
    float: right;
    margin: 9px 8px 0 0px;
}

.info-bar .btn3 {
    position: absolute;
    right: 15px;
    bottom: 13px;
    height: 18px;
    color: #FFF;
}

.info-bar .p2 {
    color: #2D5577;
    font-size: 14px;
}

.info-bar .p1 {
    color: #5B8DC0;
    margin: -10px 0 20px;
    font-size: 16px;
}

.info-bar .cost {
    position: absolute;
    right: 24px;
    top: 29px;
    color: #186650;
    font-size: 18px;
}

.info-bar .cost:before {
    content: " ";
    width: 40px;
    height: 30px;
    background: url(/images/i.png) -583px -9px;
    display: block;
    position: absolute;
    left: -45px;
    top: -1px;
}

/* ------------------------> Game page <---------------------------*/
#game_page {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    bottom: 1000px;
    background: #A3D1EC;
    z-index: 101;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#game_page.show {
    top: 0;
    bottom: 0;
}

#game_page .line.l {
    height: 605px;
    width: 183px;
    background: url(/images/bgr4.png);
    box-shadow: 1px 0 3px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#game_page .line.r {
    height: 605px;
    width: 183px;
    background: url(/images/bgr4.png);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 0;
    top: 0;
}

#gameContent {
    position: absolute;
    width: 428px;
    height: 571px;
    top: 0;
    left: 186px;
}

#gameContent .players {
    position: absolute;
    top: 69%;
}

#gameContent .players figure {
    background: url(/images/i4.png) -10px 0;
    width: 127px;
    height: 140px;
    margin: 0 3px 0 11px;
}

#gameContent .players .avatar {
    background: url(/images/i4.png);
    position: relative;
}

#gameContent .players .avatar:after {
    content: "";
}

#gameContent .players .avatar:hover:after,
#gameContent .players .avatar.active:after {
    content: "";
    display: block;
    background: url(/images/i4.png) -274px -81px;
    height: 48px;
    width: 43px;
    position: absolute;
    right: 0;
    top: 5px;
}

#gameContent .players.male figure {
    background: url(/images/i4.png) -137px -1px;
}

#gameContent .players .avatar img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 47px;
    left: 19px;
    border-radius: 999px;
}

.playerName {
    position: absolute;
    bottom: -22px;
    width: 114px;
    text-align: center;
}

.female #box1 p,
.female #box2 p {
    padding: 34px 12px 5px;
    color: #7C4759;
    font-size: 13px;
}
.male #box1 p,
.male #box2 p {
    padding: 34px 12px 5px;
    color: #45617e;
    font-size: 13px;
}

.top_hidden{
    top: -100000px !important;
}

p.myComments {
    padding: 10px 12px 5px !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.commentItem {
    border-bottom: 1px solid;
    margin-bottom: 7px;
}

.commentItem img {
    width: 30px;
    border-radius: 999px;
    margin: 0 10px 8px;
}

.female .commentItem {
    color: #875162;
}

.male .commentItem {
    color: #2D5577;
}

#box1 time,
#box2 time {
    position: absolute;
    top: 11px;
    right: 14px;
}

#box1 label,
#box2 label {
    position: absolute;
    top: 11px;
    left: 11px;
}

#box1 .c,
#box2 .c {
    margin: 35px 0 12px 4px;
    max-height: 300px;
    height: 300px;
}

#box1 .jspDrag {
    background: #FDC8D8;
}

.answers_c {
    margin: 20px -1px;
    padding: 0 0 20px 0;
}

.female .answers_c {
    border-bottom: 1px solid #875162;
}

.male .answers_c {
    border-bottom: 1px solid #2D5577;
}

.answers_c i img {
    width: 32px;
    margin: 4px;
    border-radius: 50px;
}

.answers_c .a {
    width: 290px;
    margin-left: 41px;
    margin-top: 9px;
    padding-top: 5px;
    font-weight: bold;
}

.female .a {
    border-top: 1px solid rgba(135, 81, 98, 0.31);
}

.male .a {
    border-top: 1px solid rgba(45, 85, 119, 0.31);
}

#box1 .jspPane,
#box2 .jspPane {
    padding: 6px;
}

.com1:after {
    top: 233px !important;
}

.com2:after {
    top: 413px !important;
}

.waiting {
    min-height: 38px !important;
    max-height: 38px !important;
}

.waiting .sd-btn {
    display: none;
}

.waiting:before,
.waiting:after {
    display: none !important;
}

.c_label {
    margin: 3px 0 0 10px;
    font-size: 15px;
    font-weight: bold;
}

#raty img {
    width: 22px;
}

#raty {
    float: right;
    margin-right: 6px;
}

#box2:before {
    content: " ";
    background: url(/images/pntik1_1.png) 0 1px;
    display: block;
    width: 16px;
    height: 46px;
    left: -15px;
    position: absolute;
    top: 51px;
}

#box2:after {
    content: " ";
    background: url(/images/pntik1_2.png) 0 1px;
    display: block;
    width: 17px;
    height: 46px;
    right: -14px;
    position: absolute;
    top: 51px;
}

#box1:before {
    content: " ";
    background: url(/images/pntik2_2.png);
    display: block;
    width: 16px;
    height: 46px;
    left: -15px;
    position: absolute;
    top: 51px;
}

#box1:after {
    content: " ";
    background: url(/images/pntik2_1.png);
    display: block;
    width: 17px;
    height: 46px;
    right: -15px;
    position: absolute;
    top: 51px;
}

.r #box1:before,
.r #box2:before {
    display: none;
}

.l #box1:after,
.l #box2:after {
    display: none;
}

textarea.q_answer {
    width: 319px;
    height: 65px;
    resize: none;
    margin: 9px;
    padding: 6px;
    line-height: 18px;
    margin-bottom: 43px;
}

.male textarea {
    border: 2px solid #70AEDA;
}

.female textarea {
    border: 2px solid #e898b1;
}

[aria-describedby=box2].sd-box {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

[aria-describedby=box2].sd-box .sd-wrapper {
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0) !important;
}

[aria-describedby=box1].sd-box {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

[aria-describedby=box1].sd-box .sd-wrapper {
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0) !important;
}

.line .u {
    width: 155px;
    height: 162px;
    margin: 15px 0 26px 11px;
    border-radius: 6px;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.55);
    position: relative;
    opacity: 0.87;

    -webkit-transform: scale(.95,0.95);  /* Saf3.1+, Chrome */
    -moz-transform: scale(.95,0.95);  /* FF3.5+ */
    -ms-transform: scale(.95,0.95);  /* IE9 */
    -o-transform: scale(.95,0.95);  /* Opera 10.5+ */
    transform: scale(.95,0.95);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.line .u.active {
    opacity: 1;
    -webkit-transform: scale(1,1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1,1);  /* FF3.5+ */
    -ms-transform: scale(1,1);  /* IE9 */
    -o-transform: scale(1,1);  /* Opera 10.5+ */
    transform: scale(1,1);
}

.line p {
    position: absolute;
    bottom: 13px;
    left: 8px;
    font-size: 13px;
    overflow: hidden;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.line .user-block {
    position: absolute;
    top: 19px;
    left: 24px;
}

.line.r .u {
    margin: 15px 0 26px 18px;
}

.line .u.female {
    background: url(/images/bgr5.png);
}

.line .u.male {
    background: url(/images/bgr6.png);
}

.line .badge {
    height: 38px;
    width: 31px;
    position: absolute;
}

.line .male .badge {
    background: url(/images/i.png) -601px -190px;
}

.line .male.active .badge {
    background: url(/images/i.png) -641px -190px;
}

.line .female .badge {
    background: url(/images/i.png) -601px -149px;
}

.line .female.active .badge {
    background: url(/images/i.png) -641px -149px;
}

.line.l .badge {
    right: -16px;
    top: -14px;
}

.line.r .badge {
    left: -16px;
    top: -14px;
}

#cv figure {
    background: #4583B8;
    width: 34px;
    height: 27px;
    border-radius: 999px;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
    padding-top: 7px;
    margin: 15px 10px 15px 0;
}

#cv figure:first-child {
    margin-left: 10px;
}

#cv figure.active:before {
    content: " ";
    width: 40px;
    height: 40px;
    border: 4px solid;
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    border-radius: 999px;
}

.male #cv figure.active:before {
    border-color: #4583B8;
}

.female #cv figure.active:before {
    border-color: #b85368;
}

.male #cv figure {
    background: #4583B8;
}

.female #cv figure {
    background: #b85368;
}

#cv .clearfix {
    width: 230px;
    margin: 0 auto;
}

#cv .cv {
    padding: 59px 40px;
}

#effect1 {
    height: 29px;
    background: url(/images/i.png);
    position: absolute;
    top: 38%;
    left: 50%;
    width: 38px;
    background-position: -199px -288px;
    z-index: 1000000;
}

.heartChain {
    position: absolute;
    width: 68px;
    height: 25px;
}

.l .heartChain {
    left: 174px;
    top: 62px;
}

.r .heartChain {
    right: 174px;
    top: 62px;
}

figure[class^=small_heart] {
    background: url(/images/i.png);
    width: 13px;
    height: 9px;
    display: none;
}

.l figure[class^=small_heart].active {
    background-position: -392px -199px;
}

.l figure[class^=small_heart] {
    background-position: -372px -199px;
    float: left;
}

.r figure[class^=small_heart].active {
    background-position: -392px -211px;
}

.r figure[class^=small_heart] {
    background-position: -372px -211px;
    float: right;
}

.selection {
    background: url(/images/i8.png);
    width: 128px;
    height: 129px;
    position: absolute;
}

.l.line_male .selection {
    background-position: -9px -9px;
}

.l.line_female .selection {
    background-position: -137px -10px;
}

.l .selection {
    left: 67px;
    top: -65px;
}

.l .selection img.sel {
    margin: 37px 20px;
    width: 71px;
}

.r.line_male .selection {
    background-position: -188px -350px;
}

.r.line_female .selection {
    background-position: -61px -350px;
}

.r .selection {
    right: 67px;
    top: -65px;
}

.r .selection img.sel {
    margin: 16px 38px;
    width: 71px;
}

.selection img.sel {
    border-radius: 999px;
}

.selection:before {
    content: " "
}

.startNewGame {
    width: 153px;
    height: 154px;
    display: block;
    position: absolute;
    left: 41%;
    top: 33%;
    background: url(/images/i10.png) -44px -11px;
    cursor: pointer;
}

.startNewGame:hover {
    background: url(/images/i10.png) -209px -11px;
}

.startNewGame:active {
    background: url(/images/i10.png) -372px -11px;
}

#bingo {
    background: url(/images/bingoBg.png?1);
}

[aria-describedby="bingo"] .ui-dialog-titlebar {
    padding: 0.4em 0.9em;
}
[aria-describedby="leader-dialog"],
[aria-describedby="question-dialog"] {
    z-index: 100 !important;
}


#bingoContent .item1 {
    left: 42px;
    top: 74px;
    position: absolute;
}

#bingoContent .item2 {
    right: 42px;
    top: 73px;
    position: absolute;
}

#bingoContent .user-block {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 35px;
    top: 34px;
}

#bingoContent .user-block img {
    width: 85px;
    height: 85px;
}

#bingoContent > .male {
    height: 227px;
    width: 160px;
    background: url(/images/i11.png);
}

#bingoContent > .female {
    height: 227px;
    width: 160px;
    background: url(/images/i11.png) -160px 0;
}

#bingoContent .profile {
    position: absolute;
    width: 160px;
    bottom: 5px;
    left: 0px;
    background: url(/images/i11.png);
    height: 33px;
}

#bingoContent .compose {
    position: absolute;
    width: 160px;
    bottom: 39px;
    left: 0px;
    background: url(/images/i11.png);
    height: 33px;
}

#bingoContent .female .compose {
    padding-top: 2px;
}

.btn5 {
    cursor: pointer;
    font-size: 12px !important;
    color: #fff;
}

#bingoContent .male .btn5 {
    background-position: 0 -238px;
}

#bingoContent .male .btn5:not(.ui-state-disabled):hover {
    background-position: 0 -282px;
}

#bingoContent .male .btn5:not(.ui-state-disabled):active {
    background-position: 0 -325px;
}

#bingoContent .female .btn5 {
    background-position: -159px -237px;
}

#bingoContent .female .btn5:not(.ui-state-disabled):hover {
    background-position: -159px -283px;
}

#bingoContent .female .btn5:not(.ui-state-disabled):active {
    background-position: -159px -326px;
}


aside.awards {
    position: absolute;
    right: -600px;
    top: 0;
    width: 206px;
    background: #9AC9E5;
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.2);
    height: 511px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
aside.awards.show {
    right: 0;
}
.awards p.t_shd1 {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    color: #5B8DC0;
}

.awards figure {
    width: 200px;
    height: 50px;
    position: relative;
    border-top-left-radius: 99px;
    border-bottom-left-radius: 99px;
    margin-top: 10px;
    right: -6px;
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.awards.male figure.active {
    background: url(/images/awardMaleBg.png);
}
.awards.female figure.active {
    background: url(/images/awardFemaleBg.png);
}
.awards figure {
    background: url(/images/awardDeactiveBg.png);
}

.awards figure figcaption,
figure figcaption.award {
    position: relative;
    width: 37px;
    height: 37px;
    border: 3px solid;
    border-radius: 999px;
    top: 4px;
    left: 3px;
}
.awards.male figcaption {
    background: #6bc3e5;
    border-color: #B0DFFB;
}
.awards.female figcaption {
    background: #f6a3b5;
    border-color: #ffd3dd;
}
.awards .process {
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: 14px;
    right: 42px;
    padding-right: 2px;
}
.awards.male .process{
    background: #6382A2;
}
.awards.female .process{
    background: #c07885;
}
.awards .process_bar {
    width: 8%;
    height: 3px;
    margin-top: 1px;
    margin-left: 1px;
}
.awards.male .process_bar {
    background: #9DE5FA;
}
.awards.female .process_bar {
    background: #ffb8d3;
}
.awards .percentage {
    color: #FFF;
    position: absolute;
    right: 2px;
    bottom: 11px;
    font-weight: bold;
    width: 34px;
    font-size: 11px;
}
.awards .award_label {
    position: absolute;
    top: 4px;
    left: 56px;
    font-size: 14px;
}
.awards figure figcaption:before {
    content: " ";
    position: absolute;
    background: url(/images/i12.png);
    width: 30px;
    height: 45px;

    -webkit-transform: scale(0.82, 0.82);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.82, 0.82);  /* FF3.5+ */
    -ms-transform: scale(0.82, 0.82);  /* IE9 */
    -o-transform: scale(0.82, 0.82);  /* Opera 10.5+ */
    transform: scale(0.82, 0.82);
}
.awards figure.active figcaption:before {
    top: -5px;
    left:1px;
}
.award {
    cursor: pointer;
    right: -15px;

    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
}
.award:hover {
  /*  -webkit-transform: scale(1.02, 1.02);
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -o-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);*/

    right: 0px;
}
.award.step1 figcaption {
    -webkit-transform: scale(0.9,0.9);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.9,0.9);  /* FF3.5+ */
    -ms-transform: scale(0.9,0.9);  /* IE9 */
    -o-transform: scale(0.9,0.9);  /* Opera 10.5+ */
    transform: scale(0.9,0.9);
}
.award.step2 figcaption {
    -webkit-transform: scale(1,1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1,1);  /* FF3.5+ */
    -ms-transform: scale(1,1);  /* IE9 */
    -o-transform: scale(1,1);  /* Opera 10.5+ */
    transform: scale(1,1);
}
.award.step1 figcaption:before{
    top: -5px;
    left: 2px;
}
.awards figure.flirt figcaption:before {
    background-position: 0px -5px;
    width: 32px;
    left: 1px;
    top: -1px;
}
.award.cute figcaption:before {
    background-position-y: -59px;
}
.award.rich figcaption:before {
    background-position-y: -120px;
}
.award.leader figcaption:before {
    background-position-y: -179px;
}
.award.famous figcaption:before {
    background-position-y: -240px;
}
.award.lord figcaption:before {
    background-position-y: -298px;
}
.award.sociable figcaption:before {
    background-position-y: -359px;
}
.award.respected figcaption:before {
    background-position-y: -417px;
}
.award.kissed figcaption:before {
    background-position-y: -477px;
}
.award.womanizer figcaption:before {
    background-position-y: -650px;
}
.award.avip figcaption:before {
    background-position-y: -591px;
}
.award.curious figcaption:before {
    background-position-y: -530px;
}
.award-tooltip {
    background: url(/images/awardTooltipBg.png) !important;
    box-shadow: none !important;
    min-width: 300px !important;
    min-height: 43px !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0 !important;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3) !important;
}
.award-tooltip:after {
    content: " ";
    position: absolute;
    width: 4px;
    height: 10px;
    background: url(/images/awardTooltipPntik.png);
    top: calc(50% - 5px);
    right: -4px;
}
.award-tooltip .ui-tooltip-content {
    font-size: 14px;
    color: #45617E;
}

.suggestion-users {
    position: absolute;
    right: 0;
    top: 2200px;
    width: 231px;
    background: #9AC9E5;
    /* box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.2); */
    height: 609px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
}
.suggestion-users.show {
    top: 0;
}

#suggested-users {}
#suggested-users .item {
    width: 117px;
    height: 114px;
    border-right: 1px solid #a3d1ec;
    border-bottom: 1px solid #a3d1ec;
    cursor: pointer;
    opacity: 0.85
}
#suggested-users .item:hover {
    opacity: 1
}
#suggested-users .item.male {
    background: #21a4d5;
}
#suggested-users .uname {
    opacity: 0;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -3px;
    font-size: 15px;
    -webkit-transition: all .19s ease-in-out;
    -moz-transition: all .19s ease-in-out;
    -o-transition: all .19s ease-in-out;
    -ms-transition: all .19s ease-in-out;
    transition: all .19s ease-in-out;
}
#suggested-users .item:hover .uname {
    opacity: 1;
    font-size: 13px;
}
#suggested-users .item .u-avatar {
    width: 83px !important;
    height: 80px !important;
    margin: 17px;
    -webkit-transition: all .19s ease-in-out;
    -moz-transition: all .19s ease-in-out;
    -o-transition: all .19s ease-in-out;
    -ms-transition: all .19s ease-in-out;
    transition: all .19s ease-in-out;
}
#suggested-users .item:hover .u-avatar{
    margin: 7px 17px;
}
#suggested-users .item.female {
    background: #ff92a9;
}
.user-info-block .operations {
    margin: 13px 7px;
    width: 100%;
    height: 43px;
}
.user-info-block.male .operations .b{
    top: 7px !important;
}
.user-info-block .operations .b{
    top: 10px !important;
    left: 14px !important;
}
.user-info-block .operations .b3 {
    left: 12px !important;
}
.user-info-block .operations.buttons > div {
    -webkit-transform: scale(1.2);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.2); /* FF3.5+ */
    -ms-transform: scale(1.2);  /* IE9 */
    -o-transform: scale(1.2);  /* Opera 10.5+ */
    transform: scale(1.2);
}
.suggestion-users p {
    text-align: center;
    margin-bottom: 6px;
    color: #2D5577;
    font-size: 13px;
    margin-top: 3px;
}

#award-dialog {}
#award-dialog .awards figure {
    background: none !important;
}
#award-dialog .awards figure {
    width: none !important;
    height: none !important;
    position: none !important;
    border-top-left-radius: none !important;
    border-bottom-left-radius: none !important;
    margin-top: none !important;
    right: none !important;
    box-shadow: none !important;
}

.user-info-block {
    height: 229px;
    border: 3px solid;
}
.user-info-block.female {
    border-color: #d77388;
    background: url(/images/im-user-block-female.png);
}
.user-info-block.male {
    border-color: #0e89b7;
    background: url(/images/im-user-block-male.png);
}
.user-info-block .avatar {
    width: 225px;
    height: 158px;
    overflow: hidden;
}
.user-info-block .avatar img {
    width: 99%;
    margin: 1px 1px;
}

#photo-dialog .uploaded-photo img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

/*------------>   Flags   <------------*/
.flag {
    width: auto;
    height: 20px;
    margin: 5px 2px;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    opacity: 0.5;
}
.flag:hover {
    -webkit-transform: scale(1.07, 1.07);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.07, 1.07); /* FF3.5+ */
    -ms-transform: scale(1.07, 1.07);  /* IE9 */
    -o-transform: scale(1.07, 1.07);  /* Opera 10.5+ */
    transform: scale(1.07, 1.07);
    box-shadow: inset 1px solid rgba(0,0,0,0.5);
    opacity: 1;
}
.flag.active {
    -webkit-transform: scale(1.1, 1.1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.1, 1.1); /* FF3.5+ */
    -ms-transform: scale(1.1, 1.1);  /* IE9 */
    -o-transform: scale(1.1, 1.1);  /* Opera 10.5+ */
    transform: scale(1.1, 1.1);

    box-shadow: 1px 1px 2px solid rgba(0,0,0,0.5);
    opacity: 1;
}
.flag img {
    width: 30px !important;
}

.select2-drop.male {
    background: #97C9E8;
}

.op .vk_icon {
    background: url(/images/soc_icons/vk-48.png);
    width: 48px;
    height: 48px;
    display: block;
    opacity: 0.75;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;

    -webkit-transform: scale(0.7, 0.7);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7, 0.7); /* FF3.5+ */
    -ms-transform: scale(0.7, 0.7);  /* IE9 */
    -o-transform: scale(0.7, 0.7);  /* Opera 10.5+ */
    transform: scale(0.7, 0.7);

    position: absolute;
    right: 10px;
    top: 10px;
}
.op .vk_icon:hover {
    -webkit-transform: scale(1, 1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1, 1); /* FF3.5+ */
    -ms-transform: scale(1, 1);  /* IE9 */
    -o-transform: scale(1, 1);  /* Opera 10.5+ */
    transform: scale(1, 1);
    opacity: 1;
}
.op .send-vip-status {
    background: url(/images/i.png) -56px -377px;
    display: block;
    width: 75px;
    height: 24px;
    position: absolute;
    top: 21px;
    left: 20px;
    opacity: 0.75;

    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;

    -webkit-transform: scale(0.7, 0.7);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7, 0.7); /* FF3.5+ */
    -ms-transform: scale(0.7, 0.7);  /* IE9 */
    -o-transform: scale(0.7, 0.7);  /* Opera 10.5+ */
    transform: scale(0.7, 0.7);
}
.op .send-vip-status:hover {
    -webkit-transform: scale(1, 1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1, 1); /* FF3.5+ */
    -ms-transform: scale(1, 1);  /* IE9 */
    -o-transform: scale(1, 1);  /* Opera 10.5+ */
    transform: scale(1, 1);

    opacity: 1;
}

.op .send-money {
    background: url(/images/i.png) -56px -408px;
    display: block;
    width: 65px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 95px;
    opacity: 0.75;

    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;

    -webkit-transform: scale(0.7, 0.7);  /* Saf3.1+, Chrome */
    -moz-transform: scale(0.7, 0.7); /* FF3.5+ */
    -ms-transform: scale(0.7, 0.7);  /* IE9 */
    -o-transform: scale(0.7, 0.7);  /* Opera 10.5+ */
    transform: scale(0.7, 0.7);
}
.op .send-money:hover {
    -webkit-transform: scale(1, 1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1, 1); /* FF3.5+ */
    -ms-transform: scale(1, 1);  /* IE9 */
    -o-transform: scale(1, 1);  /* Opera 10.5+ */
    transform: scale(1, 1);

    opacity: 1;
}

.send-money .label {
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.send-money input {
    margin: 10px 27px;
    padding: 12px;
    font-size: 18px;
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
    text-align: center;
}

div.send-money .op .send-money {
    left: 225px;
    top: 59px;
    -webkit-transform: scale(1.3, 1.3);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.3, 1.3); /* FF3.5+ */
    -ms-transform: scale(1.3, 1.3);  /* IE9 */
    -o-transform: scale(1.3, 1.3);  /* Opera 10.5+ */
    transform: scale(1.3, 1.3);
}
div.send-money .op .send-money:hover {
    -webkit-transform: scale(1.5, 1.5);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.5, 1.5); /* FF3.5+ */
    -ms-transform: scale(1.5, 1.5);  /* IE9 */
    -o-transform: scale(1.5, 1.5);  /* Opera 10.5+ */
    transform: scale(1.5, 1.5);
}
div.send-money .op .send-money:active {
    -webkit-transform: scale(1.4, 1.4);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.4, 1.4); /* FF3.5+ */
    -ms-transform: scale(1.4, 1.4);  /* IE9 */
    -o-transform: scale(1.4, 1.4);  /* Opera 10.5+ */
    transform: scale(1.4, 1.4);
}

/* ---->   Users rating <---- */
.users-rating aside {
    position: absolute;
    right: 0;
    top: -1500px;
    width: 220px;
    background: #9AC9E5;
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.2);
    height: 567px;
    transition: all 0.55s ease-in-out;
    -webkit-transition: all 0.55s ease-in-out;
    -moz-transition: all 0.55s ease-in-out;
    -o-transition: all 0.55s ease-in-out;
    -ms-transition: all 0.55s ease-in-out;
}
.users-rating aside.active {
    top: 50px;
}
.users-rating .tab {
    height: 43px;
    position: absolute;
    top: -43px;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
}
.users-rating .tab.active {
    top: 0;
    display: block;
    opacity: 1;
}
.users-rating .loading {
    position: absolute;
    left: 74px;
    top: 224px;
    display: none;
}
.g_p2.loading .loading {
    display: block;
}
.g_p2.loading .list .loading {
    left: 347px;
    top: 259px;
}
.users-rating .tab .item {
    cursor: pointer;
    float: left;
    width: 199px;
    height: 47px;
    display: block;
    background: url(/images/rating_tab_bg.png);
    border-right: 1px solid #b69ddc;
}
.users-rating .tab .item:hover {
    background: url(/images/rating_tab_hover_bg.png);
}
.users-rating .tab .item:active,
.users-rating .tab .item.active{
    background: url(/images/rating_tab_active_bg.png);
}
.users-rating .tab > div:last-child {
   /* border-right: none !important;
    width: 170px;*/
}
.users-rating .tab .item span {
    color: #FFF;
    font-weight: bold;
    margin-top: 12px;
    display: block;
    text-align: center;
    font-size: 13px;
    padding-left: 31px;
}
.users-rating .tab .item span:before {
    background: url(/images/i13.png);
    display: block;
    content: " ";
    position: absolute;
    opacity: 0.4;

    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -o-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
.users-rating .tab .item:hover span:before {
    opacity: 1;

    -webkit-transform: scale(1.1, 1.1);  /* Saf3.1+, Chrome */
    -moz-transform: scale(1.1, 1.1);  /* FF3.5+ */
    -ms-transform: scale(1.1, 1.1);  /* IE9 */
    -o-transform: scale(1.1, 1.1);  /* Opera 10.5+ */
    transform: scale(1.1, 1.1);
}
.users-rating .tab .item span.r_rating:before {
    width: 20px;
    height: 30px;
    background-position: -16px 0;
    left: 45px;
    top: 9px;
}
.users-rating .tab .item span.r_games:before {
    width: 30px;
    height: 36px;
    background-position: -12px -20px;
    left: 26px;
    top: -1px;
}
.users-rating .tab .item span.r_likes:before {
    width: 20px;
    height: 30px;
    background-position: -16px -61px;
    left: 40px;
    top: 9px;
}
.users-rating .tab .item span.r_kiss:before {
    width: 26px;
    height: 30px;
    background-position: -13px -90px;
    left: 39px;
    top: 8px;
}
.users-rating .tab .item span.r_retinue:before {
    width: 25px;
    height: 30px;
    background-position: -13px -118px;
    left: 25px;
    top: 8px;
}
.users-rating .tab .item span.r_retinue_expensive:before {
    width: 25px;
    height: 30px;
    background-position: -13px -146px;
    left: 6px;
    top: 8px;
}
.users-rating .tab .item span.r_retinue_expensive {
    font-size: 11px;
    margin-top: 14px;
}
.users-rating .content {
    width: 768px;
    height: 609px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#rating-list .top {
    width: 768px;
    height: 200px;
    float: left;
    margin-top: 64px;
    margin-bottom: 6px;
}
#rating-list .top .pos {
    float: left;
    clear: both;
    display: block;
    width: 144px;
    height: 32px;
    border: 1px solid #9D6BF8;
    background: #AF84F9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    padding-top: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.circle-pos {
    width: 32px;
    background: #986AEC;
    height: 26px;
    position: absolute;
    z-index: 9;
    padding-top: 5px;
    box-shadow: inset 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
    color: #D8BFFF;
    font-weight: bold;
    font-family: Myriad Pro;
    font-size: 18px;
    text-align: center;
    padding-left: 1px;
    left: 54px;
    top: 4px;
    cursor: default;
}
#rating-list .top1 .circle-pos {
    left: 62px;
}
#rating-list .user-block .value {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 27px;
    bottom: -8px;
    color: #FFF;
    text-align: center;
    padding-top: 3px;
    font-size: 13px;

    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -o-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
}
#rating-list .user-block:hover .value {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0px;
    font-weight: bold;
}
#rating-list .top .pos:before {
    display: block;
    position: absolute;
    background: url(/images/rating-top-top.png);
    right: 0;
    content: " ";
    width: 100%;
    height: 11px;
    top: 0;
}
#rating-list .top1 .pos {
    width: 154px;
}
#rating-list .top2 .pos {
    width: 134px;
}
#rating-list .top-user {
    margin: 0 10px;
}
#rating-list .top-user .user-block {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
#rating-list .top0 {
    margin-left: 150px;
    margin-top: 10px;
}
#rating-list .top2 {
    margin-top: 20px;
}
#rating-list .top0 .user-block img {
    width: 140px;
}
#rating-list .top1 .user-block img {
    width: 150px;
}
#rating-list .top2 .user-block img {
    width: 130px;
}
#rating-list .others {
    border-top: 1px solid rgba(0, 0, 0, 0.57);
    float: left;
    clear: both;
    width: 762px;
    height: 336px;
    padding-left: 6px;
    box-shadow: inset -1px 2px 6px 0px rgba(0, 0, 0, 0.5);
}
#rating-list .others .user-block{
    overflow: hidden;
}
#rating-list .others .circle-pos {
    left: 0;
    top: 0
}
#rating-list .others .user-block img {
    width: 100px;
}
#rating-list .others .item {
    margin: 7px;
}
#tagCloud1,
#tagCloud2 {
    position:absolute;
    float:left
}
#randomUsers {
    width: 580px;
    height: 254px;
    margin-top: 254px;
    float: left;
}
