.trans1{-webkit-transition:margin-left .2s ease-out 0;-moz-transition:margin-left .2s ease-out 0;-o-transition:margin-left .2s ease-out 0;transition:margin-left .2s ease-out 0}
.trans2{-webkit-transition:border .3s ease-out 0;-moz-transition:border .3s ease-out 0;-o-transition:border .3s ease-out 0;transition:border .3s ease-out 0}
.rotate_anime{-webkit-animation:spin 3s linear infinite;-moz-animation:spin 3s linear infinite;animation:spin 3s linear infinite}
@-moz-keyframes spin {
    100%{-moz-transform:rotate(360deg)}
}
@-webkit-keyframes spin {
    100%{-webkit-transform:rotate(360deg)}
}
@keyframes spin {
    100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}

#loading_process{
    -webkit-animation:loading_process 2s linear infinite;
    -moz-animation:loading_process 2s linear infinite;
    animation:loading_process 2s linear infinite
}
@-moz-keyframes loading_process {
    0%{left: 38px}
    40%{left: -14px; transform:scale(1);}
    50%{transform:scale(0.8); left: -14px}
    60%{transform:scale(1); left: -14px}
    100%{left: 38px}
}
@-webkit-keyframes loading_process {
    0%{left: 38px}
    40%{left: -14px; transform:scale(1);}
    50%{transform:scale(0.8); left: -14px}
    60%{transform:scale(1); left: -14px}
    100%{left: 38px}
}
@keyframes loading_process {
    0%{left: 38px}
    40%{left: -14px;transform:scale(1);}
    50%{transform:scale(0.8); left: -14px}
    60%{transform:scale(1); left: -14px}
    100%{left: 38px}
}

.pulse{-webkit-animation:pulse .3s linear infinite;-moz-animation:pulse .3s linear infinite;animation:pulse .3s linear infinite}
@-moz-keyframes pulse {
    0%{-moz-transform:scale(1)}
    25%{-moz-transform:scale(1.4)}
    50%{-moz-transform:scale(1)}
    75%{-moz-transform:scale(0.8)}
    100%{-moz-transform:scale(1)}
}
@-webkit-keyframes pulse {
    0%{-webkit-transform:scale(1)}
    25%{-webkit-transform:scale(1.4)}
    50%{-webkit-transform:scale(1)}
    75%{-webkit-transform:scale(0.8)}
    100%{-webkit-transform:scale(1)}
}
@keyframes pulse {
    0%{transform:scale(1)}
    25%{transform:scale(1.4)}
    50%{transform:scale(1)}
    75%{transform:scale(0.8)}
    100%{transform:scale(1)}
}


.connecting_cloud1,.connecting_cloud2{-webkit-transition:all 1.8s ease-in-out;-moz-transition:all 1.8s ease-in-out;-o-transition:all 1.8s ease-in-out;-ms-transition:all 1.8s ease-in-out;transition:all 1.8s ease-in-out;-webkit-animation-direction:normal;-webkit-animation-duration:1.8s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:connecting_cloud1;-webkit-animation-timing-function:ease-in-out;-moz-animation-direction:normal;-moz-animation-duration:1.8s;-moz-animation-iteration-count:infinite;-moz-animation-name:connecting_cloud1;-moz-animation-timing-function:ease-in-out;animation-direction:normal;animation-duration:1.8s;animation-iteration-count:infinite;animation-name:connecting_cloud1;animation-timing-function:ease-in-out}
.connecting_cloud2{-webkit-animation-name:connecting_cloud2;-moz-animation-name:connecting_cloud2}
@-webkit-keyframes connecting_cloud1 {
    0%{left:51px}
    50%{left:0}
    100%{left:51px}
}
@-moz-keyframes connecting_cloud1 {
    0%{left:51px}
    50%{left:0}
    100%{left:51px}
}
@-o-keyframes connecting_cloud1 {
    0%{left:51px}
    50%{left:0}
    100%{left:51px}
}
@-webkit-keyframes connecting_cloud2 {
    0%{left:0}
    50%{left:51px}
    100%{left:0}
}
@-moz-keyframes connecting_cloud2 {
    0%{left:0}
    50%{left:51px}
    100%{left:0}
}
@-o-keyframes connecting_cloud2 {
    0%{left:0}
    50%{left:51px}
    100%{left:0}
}
@-webkit-keyframes blink {
    0%{opacity:1}
    50%{opacity:.2}
    100%{opacity:1}
}
@-moz-keyframes blink {
    0%{opacity:1}
    50%{opacity:.2}
    100%{opacity:1}
}
.blink{-webkit-transition:all 1.5s ease-in-out;-moz-transition:all 1.5s ease-in-out;-o-transition:all 1.5s ease-in-out;-ms-transition:all 1.5s ease-in-out;transition:all 1.5s ease-in-out;-webkit-animation-direction:normal;-webkit-animation-duration:1.5s;-webkit-animation-iteration-count:infinite;-webkit-animation-name:blink;-webkit-animation-timing-function:ease-in-out;-moz-animation-direction:normal;-moz-animation-duration:1.5s;-moz-animation-iteration-count:infinite;-moz-animation-name:blink;-moz-animation-timing-function:ease-in-out}
.bubblingG{display:table-cell;vertical-align:middle}
.bubblingG span{display:inline-block;vertical-align:middle;width:11px;height:11px;margin:28px 3px;background:#fff;-moz-border-radius:57px;-moz-animation:bubblingG 1s infinite alternate;-webkit-border-radius:57px;-webkit-animation:bubblingG 1s infinite alternate;-ms-border-radius:57px;-ms-animation:bubblingG 1s infinite alternate;-o-border-radius:57px;-o-animation:bubblingG 1s infinite alternate;border-radius:57px;animation:bubblingG 1s infinite alternate}
#bubblingG_1{-moz-animation-delay:0;-webkit-animation-delay:0;-ms-animation-delay:0;-o-animation-delay:0;animation-delay:0}
#bubblingG_2{-moz-animation-delay:.3s;-webkit-animation-delay:.3s;-ms-animation-delay:.3s;-o-animation-delay:.3s;animation-delay:.3s}
#bubblingG_3{-moz-animation-delay:.6s;-webkit-animation-delay:.6s;-ms-animation-delay:.6s;-o-animation-delay:.6s;animation-delay:.6s}
@-moz-keyframes bubblingG {
    0%{width:11px;height:11px;background-color:#FFF}
    100%{width:20px;height:20px;background-color:#FFF}
}
@-webkit-keyframes bubblingG {
    0%{width:11px;height:11px;background-color:#FFF}
    100%{width:20px;height:20px;background-color:#FFF}
}
@-ms-keyframes bubblingG {
    0%{width:11px;height:11px;background-color:#FFF}
    100%{width:20px;height:20px;background-color:#FFF}
}
@-o-keyframes bubblingG {
    0%{width:11px;height:11px;background-color:#fff}
    100%{width:20px;height:20px;background-color:#FFF}
}
@keyframes bubblingG {
    0%{width:11px;height:11px;background-color:#fff}
    100%{width:20px;height:20px;background-color:#FFF}
}

.effect1{-webkit-animation:effect1 .45s linear infinite;-moz-animation:effect1 .45s linear infinite;animation:effect1 .45s linear infinite}
@-moz-keyframes effect1{
    0%{-moz-transform:scale(1)}
    100%{-moz-transform:scale(10);opacity: 0;}
}
@-webkit-keyframes effect1{
    0%{-webkit-transform:scale(1)}
    100%{-webkit-transform:scale(10);opacity: 0;}
}
@keyframes effect1{
    0%{transform:scale(1)}
    100%{transform:scale(10);opacity: 0;}
}
